@import "./variables.scss";

.chat-page{
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: flex-start;
  justify-content: left;

  .chats-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-right: 100px;
    .active{
      background: gray;
    }
  }
  .chat-preview-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .chats-form-right{
   
  }
  .conversation-input-wrapper{
    width: 500px;
    form{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 11111;
    }
    button, input{
      z-index: 11;
    }
    input{
      width: 100%;
    }
  }
  .conversation-wrapper-reversed{
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    height: 60vh;
    width: 500px;
  }
  .conversation-wrapper{
    display: flex;
    flex-direction: column;
  }
  .chat-received-texts, .chat-user-texts{
    padding: 5px 9px;
    border-radius: 25px;
    margin: 3px 0;
  }
  .chat-user-texts{
    align-self: flex-end;
    background: yellow;
  }
  .chat-received-texts{
    align-self: flex-start;
    background: blue;
  }
  
}