@import "./variables.scss";

.chat-page{
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: flex-start;
  justify-content: left;

  button{
    margin-top: 8px;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 19px;
  }

  .chats-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 70vh;
    overflow-y: auto;
    margin-right: 100px;
    .active{
      background: white;
    }
  }
  .chat-preview-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 340px;
    height: 70px;
    margin-bottom: 7px;
    color: $text-color;
    text-decoration: none;
    border: 1px solid $third-color;
    border-radius: 25px;
    img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
  .chat-preview-name-message-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
  .chat-preview-username{
    font-weight: bold;
  }
  .chat-preview-last-message{
    width: 250px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .chats-form-right{
   
  }
  .conversation-input-wrapper{
    width: 560px;
    form{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 11111;
    }
    button, input{
      z-index: 11;
    }
    input{
      width: 100%;
    }
  }
  .username-picture-onechat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 9px 0;
    h3{
    }
    img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
  .conversation-wrapper-reversed{
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    height: 50vh;
    width: 560px;
  }
  .conversation-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
  .chat-received-texts, .chat-user-texts{
    padding: 5px 9px;
    border-radius: 25px;
    margin: 3px 0;
    max-width: 270px;
  }
  .chat-user-texts{
    align-self: flex-end;
    background: yellow;
  }
  .chat-received-texts{
    align-self: flex-start;
    background: blue;
  }
  
}