@import "./variables.scss";

$TOGGLE: $third-color;
$TOGGLE2: $light-color;
$TOGGLE3: $text-color;
$DOT_FONT_SIZE: 27px;
$BORDER: #555273;
$FONT: #f2fdff;

$TOGGLE_SIZE: 330px;

@import url("https://fonts.googleapis.com/css?family=Cute+Font&display=swap");

@mixin prefixes($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}#{$property}: $value;
  }
}

.hover-products-menu{
%input {
  position: absolute;
  opacity: 0;
  bottom: 0;
  z-index: -1;
  @include prefixes(transform-origin, bottom center);
  @include prefixes(box-sizing, border-box);

  &:after {
    top: 100px;
    width: 1px;
    height: 100%;
    background: $BORDER;
    z-index: -1;
  }
  a {
    display: flex;
    width: 180px;
    height: 180px;
    @include prefixes(align-items, center);
    margin: auto;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    border-radius: 50%;
    line-height: 1;
    color: $FONT;
    @include prefixes(box-sizing, border-box);

    &:visited,
    &:active {
      color: $FONT;
    }
    &:hover {
      color: $second-color!important;
      @include prefixes(transform,  scale(1.05));
    }
  }
}

%inputCheck {
  opacity: 1;
  z-index: 0;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100%;
  @include prefixes(transform, scale(0.8));
}

ul {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-align: center;
}

li {
  list-style: none;
}

.toggle {
  opacity: 0;
  &:checked {
    & + .label-dots {
      .hum-img {
        @include prefixes(transition, 0.8s);
        @include prefixes(transform, rotate(45deg) scale(0.5));
      }
      .list {
        &__home {
          @extend %inputCheck;
          opacity: 1;

          @include prefixes(transition, 0.8s);
          @include prefixes(transform, translate(-110px, -300px) rotate(45deg));

          &:after {
            height: 36px;
            @include prefixes(transition, 1.1s);
          }
          li {
            opacity: 0;
          }
        }
        &__about {
          @extend %inputCheck;
          opacity: 1;
          height: 300px;
          @include prefixes(transition, 0.8s);
        }
        &__clients {
          @extend %inputCheck;
          opacity: 1;

          @include prefixes(transition, 0.8s);
          @include prefixes(transform, translate(300px, -300px) rotate(45deg));

          &:after {
            height: 36px;
            @include prefixes(transition, 1.1s);
          }
          li {
            opacity: 0;
          }
        }
        &__strauss {
          @extend %inputCheck;
          opacity: 1;
          @include prefixes(transition, 0.8s);
          @include prefixes(transform, translate(50px, -20px) rotate(-35deg));

          &:after {
            height: 36px;
            @include prefixes(transition, 1.1s);
          }
        }
        &__clientsItems {
          &:nth-of-type(1) {
            height: 0;
          }
        }
        &__contact {
          @extend %inputCheck;
          opacity: 1;

          @include prefixes(transition, 0.8s);
          @include prefixes(transform, translate(250px, -30px) rotate(45deg));

          &:after {
            height: 36px;
            @include prefixes(transition, 1.1s);
          }
          li {
            opacity: 0;
          }
        }
      }
    }
  }
}

.label-dots {
  position: absolute;
  top: calc(50% - (330px / 2));
  left: calc(50% - (330px / 2));
  width: 330px;
  height: 330px;
  background-color: $TOGGLE;
  border-radius: 50%;
  z-index: 10;
  @include prefixes(transition, 0.8s);
  cursor: $pointer-cursor;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}

.list {
  position: absolute;
  top: -200px;
  left: calc(50% - 250px);
  width: 500px;
  height: 500px;
  @include prefixes(transform-origin, center);

  &__home {
    @extend %input;
    width: 300px;
    height: 300px;
    @include prefixes(transition, 0.8s);
    @include prefixes(transform,  translate(100px, -110px) rotate(45deg));

    a {
      background: $TOGGLE2;
      span {
        @include prefixes(transform,  rotate(-45deg));
      }
    }
    &:after {
      top: 250px;
      width: 1px;
      height: 0;
      background: $BORDER;
      left: 45px;
      @include prefixes(transition, 0.3s);
    }
    .list__homeItems {
      @include prefixes(transition, 0.8s);
      li {
        @extend %input;
        @include prefixes(transition, 0.8s);
        opacity: 0;
        width: 200px;
        height: 0;
        overflow: hidden;
        &:after {
          z-index: -1;
        }
        a {
          margin: 0 0 auto 0;
          background: $TOGGLE3;
        }
        &:after {
          top: 100px;
          left: 50px;
        }
        &:nth-of-type(1) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform, scale(0.8) translate(-65px, -195px) rotate(-20deg));
          a {
            @include prefixes(transform,  rotate(-25deg));
            &:hover {
              @include prefixes(transform,  rotate(-25deg) scale(0.95));
            }
          }
        }
        &:nth-of-type(2) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(60px, -178px) rotate(30deg));

          a {
            @include prefixes(transform, rotate(-75deg));
            &:hover {
              @include prefixes(transform,  rotate(-75deg) scale(0.95));
            }
          }
        }
        &:nth-of-type(3) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(-163px, -67px) rotate(-50deg) );

          &:after {
            top: 100px;
            @include prefixes(transition, 0s);
          }
          a {
            @include prefixes(transform, rotate(0deg));
            &:hover {
              @include prefixes(transform,  rotate(0deg) scale(0.95));
            }
          }
        }
      }
    }
    &:hover {
      opacity: 1;
      ul,
      li {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        @include prefixes(align-items, center);
      }
      .list__homeItems {
        @include prefixes(transition, 0.8s);
        li {
          &:nth-of-type(1) {
            height: 200px;
            opacity: 1;
          }
          &:nth-of-type(2) {
            height: 225px;
            opacity: 1;
          }
          &:nth-of-type(3) {
            height: 210px;
            opacity: 1;
          }
        }
      }
    }
    a {
      margin: 150px 0 0 0;
    }
  }
  &__about {
    @extend %input;
    height: 10px;
    overflow: hidden;
    transform: translate(158px, -275px) rotate(-45deg);
    @include prefixes(transform,  translate(158px, -275px) rotate(-45deg));
    @include prefixes(transition, 0.8s);
    a {
      background: $TOGGLE2;
      @include prefixes(transform,  rotate(45deg));
    }
  }
  &__clients {
    @extend %input;
    width: 300px;
    height: 300px;
    @include prefixes(transition, 0.8s);
    @include prefixes(transform,  translate(100px, -110px) rotate(45deg));

    a {
      background: $TOGGLE2;
      span {
        @include prefixes(transform,  rotate(-45deg));
      }
    }
    &:after {
      top: 250px;
      width: 1px;
      height: 0;
      background: $BORDER;
      left: 45px;
      @include prefixes(transition, 0.3s);
    }
    .list__clientsItems {
      @include prefixes(transition, 0.8s);
      li {
        @extend %input;
        @include prefixes(transition, 0.8s);
        opacity: 0;
        width: 200px;
        height: 0;
        overflow: hidden;
        &:after {
          z-index: -1;
        }
        a {
          margin: 0 0 auto 0;
          background: $TOGGLE3;
          //   &:hover{
          //   @include prefixes(transform,  scale(1.2));
          // }
        }
        &:after {
          top: 100px;
          left: 50px;
        }
        &:nth-of-type(1) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(-70px, -245px) rotate(-20deg));

          a {
            @include prefixes(transform,  rotate(-25deg));
            &:hover {
              @include prefixes(transform, rotate(-25deg) scale(0.95));
            }
          }
        }
        &:nth-of-type(2) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(80px, -218px) rotate(30deg));

          a {
            @include prefixes(transform, rotate(-75deg));
            &:hover {
              @include prefixes(transform, rotate(-75deg) scale(0.95));
            }
          }
        }
        &:nth-of-type(3) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(123px, -160px) rotate(120deg));

          &:after {
            top: 100px;
            @include prefixes(transition, 0s);
          }
          a {
            @include prefixes(transform, rotate(195deg));
            &:hover {
              @include prefixes(transform, rotate(195deg) scale(0.95));
            }
          }
        }
      }
    }
    &:hover {
      opacity: 1;
      ul,
      li {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        @include prefixes(align-items, center);
      }
      .list__clientsItems {
        @include prefixes(transition, 0.8s);
        li {
          &:nth-of-type(1) {
            height: 200px;
            opacity: 1;
          }
          &:nth-of-type(2) {
            height: 225px;
            opacity: 1;
          }
          &:nth-of-type(3) {
            height: 210px;
            opacity: 1;
          }
        }
      }
    }
    a {
      margin: 150px 0 0 0;
    }
  }
  &__strauss {
    @extend %input;
    width: 200px;
    height: 300px;
    @include prefixes(transition, 0.8s);
    @include prefixes(transform,  translate(185px, -355px) rotate(-135deg));

    a {
      background: $TOGGLE2;
      span {
        @include prefixes(transform,  rotate(135deg));
      }
    }
    &:after {
      top: 250px;
      width: 1px;
      height: 0;
      background: $BORDER;
      left: 45px;
      @include prefixes(transition, 0.3s);
    }
    .list__straussItem {
      @include prefixes(transition, 0.8s);

      li {
        @extend %input;
        opacity: 0;
        width: 200px;
        height: 0;
        overflow: hidden;
        @include prefixes(transition, 0.8s);

        &:after {
          z-index: -1;
        }
        a {
          margin: 0 0 auto 0;
          background: $TOGGLE3;
        }
        &:after {
          top: 100px;
          left: 50px;
        }
        &:nth-of-type(1) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(-125px, -160px) rotate(-90deg));

          a {
            @include prefixes(transform,  rotate(155deg));
            &:hover {
              @include prefixes(transform, rotate(155deg) scale(0.95));
            }
          }
        }
        &:nth-of-type(2) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(-160px, -155px) rotate(30deg));

          a {
            @include prefixes(transform,  rotate(5deg));
            &:hover {
              @include prefixes(transform, rotate(5deg) scale(0.95));
            }
          }
        }
        &:nth-of-type(3) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform, scale(0.8) translate(-100px, 260px) rotate(0deg));

          &:after {
            top: 100px;
          }
          a {
            @include prefixes(transform, rotate(15deg));
            &:hover {
              @include prefixes(transform, rotate(15deg) scale(0.95));
            }
          }
        }
      }
    }
    &:hover {
      opacity: 1;
      ul,
      li {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        @include prefixes(align-items, center);
      }
      .list__straussItem {
        @include prefixes(transition, 0.8s);

        li {
          &:nth-of-type(1) {
            height: 200px;
            opacity: 1;
          }
          &:nth-of-type(2) {
            height: 230px;
            opacity: 1;
          }
          &:nth-of-type(3) {
            height: 225px;
            opacity: 1;
          }
        }
      }
    }
    a {
      margin: 150px 0 0 0;
    }
  }
  &__contact {
    @extend %input;
    width: 200px;
    height: 300px;
    @include prefixes(transition, 0.8s);
    @include prefixes(transform,  translate(185px, -355px) rotate(-135deg));

    a {
      background: $TOGGLE2;
      span {
        @include prefixes(transform,  rotate(135deg));
      }
    }
    &:after {
      top: 250px;
      width: 1px;
      height: 0;
      background: $BORDER;
      left: 45px;
      @include prefixes(transition, 0.3s);
    }
    .list__contactItem {
      @include prefixes(transition, 0.8s);

      li {
        @extend %input;
        opacity: 0;
        width: 200px;
        height: 0;
        overflow: hidden;
        @include prefixes(transition, 0.8s);

        &:after {
          z-index: -1;
        }
        a {
          margin: 0 0 auto 0;
          background: $TOGGLE3;
        }
        &:after {
          top: 100px;
          left: 50px;
        }
        &:nth-of-type(1) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(75px, -200px) rotate(-20deg));

          a {
            @include prefixes(transform,  rotate(5deg));
            &:hover {
              @include prefixes(transform, rotate(5deg) scale(0.95));
            }
          }
        }
        &:nth-of-type(2) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform,  scale(0.8) translate(120px, -45px) rotate(30deg));

          a {
            @include prefixes(transform,  rotate(-50deg));
            &:hover {
              @include prefixes(transform, rotate(-50deg) scale(0.95));
            }
          }
        }
        &:nth-of-type(3) {
          font-size: $DOT_FONT_SIZE;
          @include prefixes(transform, scale(0.8) translate(90px, 15px) rotate(120deg));

          &:after {
            top: 100px;
          }
          a {
            @include prefixes(transform, rotate(215deg));
            &:hover {
              @include prefixes(transform, rotate(215deg) scale(0.95));
            }
          }
        }
      }
    }
    &:hover {
      opacity: 1;
      ul,
      li {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        @include prefixes(align-items, center);
      }
      .list__contactItem {
        @include prefixes(transition, 0.8s);

        li {
          &:nth-of-type(1) {
            height: 200px;
            opacity: 1;
          }
          &:nth-of-type(2) {
            height: 230px;
            opacity: 1;
          }
          &:nth-of-type(3) {
            height: 225px;
            opacity: 1;
          }
        }
      }
    }
    a {
      margin: 150px 0 0 0;
    }
  }
}
.hum-img{
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  @include prefixes(transition, 0.8s);
  &.text{
    font-size: 45px;
    line-height: 45px;
    height: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 450px) {
  nav {
    @include prefixes(transform, scale(0.5));
  }
}
}
