$main-font: 'Indie Flower', cursive;
$logo-font: "Galindo", cursive;
body {
  font-family: $main-font;
  overflow-x: hidden;
}

* { margin: 0; padding: 0; }

.basket-page{
  display: flex;
  justify-content: space-around;
  .basket-container{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .basket-item-wrapper{
    display: flex;
    margin: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    img{
      width: 80px;
      height: 80px;
      margin-right: 30px;
    }
  }
  .checkout-button{
    width: 20vw;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    background: rgb(205, 202, 202);
    margin-top: 30px;
    font-size: 30px;
  }
  h1{
    font-size: 23px;
  }
  .basket-image-title{
    display: flex;
    max-width: 60%;
  }
  .quantity-bar-basket{
    display: flex;
  }
  .quantity-bar{
    font-size: 13px;
    padding: 0 5px;
    border: 1px solid gray;
    height: 25px;
    line-height: 25px;
  }
  .number{
    width: 19px;
    text-align: center;
    resize: none;
    overflow: hidden;
  }
  .sign{
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

.basket-added-wrapper{
  width: 60vw;
  height: 70vh;
  border: 1px solid black;
  position: absolute;
  bottom: 0%;
  right: 50%;
  margin-right: -30vw;
  background: yellow;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: .5s basket-added linear;
  .basket-added-continue, .basket-added-proceed{
    padding: 10px 20px;
    background: gray;
    border: 1px solid black;
    cursor: pointer;
    margin: 30px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.basket-icon-wrapper{
  display: block;
  position: absolute;
  top: 22px;
  right: 30px;
  cursor: pointer;
  img{
    width: 48px;
    height: 48px;
  }
  .basket-number{
    font-size: 21px;
    color: #fc6d6d;
    position: absolute;
    right: 14px;
    top: 0px;
  }
}
.basket-icon-wrapper:hover{
  transform: scale(1.1);
}

@keyframes basket-added {
  0% { bottom: -100% ;}
  // 50% { bottom: -30%; }
  100% { bottom: 0%; }
}

.navbar {
  width: 100vw;
  font-family: $logo-font;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.link-no-underline {
  text-decoration: none;
  color: black;
}

.footer {
  height: 3000px;
}

.flower-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
}
.flower-container.one {
  left: 20px;
  top: 50px;
}
.flower-container.two {
  right: 20px;
  top: 50px;
}
.flowerProductImage {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
}
.flowerProductImage:hover {
  display: flex;
  border-radius: 0%;
  opacity: 1;
  height: 500px;
  width: 500px;
  transition-duration: 800ms;
  transition-delay: 150ms;
  box-shadow: 0px 4px 30px 2px rgba(#fff917, 0.92);
}

// Flower
.flower-content {
  // background:linear-gradient(to top right, #000000, #35064f);
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 150px;
  position: relative;
  cursor: pointer;
}
.flower {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  transform: scale(0.3);
}
.big-petal {
  animation: 1000ms showPetals linear forwards;
  background: linear-gradient(to bottom, rgba(231, 249, 33, 0.536), rgba(255, 251, 213, 0.2));
  opacity: 0;
}
.small-petal {
  animation: 1000ms showPetals linear forwards;
  background-image: linear-gradient(to left, rgba(255, 255, 21, 0.8) 0%, rgba(254, 81, 150, 0.6) 100%);
  opacity: 0;
}
.big-petal1 {
  border-radius: 100% 0;
  box-shadow: 0 2.75em 4.5em rgba(0, 0, 0, 0.2);
  grid-column: 4/-1;
  grid-row: 1/4;
}
.big-petal2 {
  animation-delay: 200ms;
  box-shadow: 2.75em 0 4.5em rgba(0, 0, 0, 0.2);
  border-radius: 0 100%;
  grid-column: 4/-1;
  grid-row: 4/-1;
}
.big-petal3 {
  animation-delay: 400ms;
  border-radius: 100% 0;
  box-shadow: 0 -2.75em 4.5em rgba(0, 0, 0, 0.2);
  grid-column: 1/4;
  grid-row: 4 / -1;
}
.big-petal4 {
  animation-delay: 600ms;
  border-radius: 0 100%;
  box-shadow: -2.75em 0 4.5em rgba(0, 0, 0, 0.2);
  grid-column: 1/4;
  grid-row: 1/4;
}
.small-petal1 {
  animation-delay: 800ms;
  border-radius: 100% 0;
  grid-column: 4/6;
  grid-row: 2/4;
}
.small-petal2 {
  animation-delay: 1000ms;
  border-radius: 100% 0;
  grid-column: 4/6;
  grid-row: 3/5;
  transform: rotate(45deg) translate(0.8rem, -0.8rem);
}
.small-petal3 {
  animation-delay: 1200ms;
  border-radius: 0 100%;
  grid-column: 4/6;
  grid-row: 4/6;
}
.small-petal4 {
  animation-delay: 1400ms;
  border-radius: 100% 0;
  grid-column: 3/5;
  grid-row: 3/5;
  transform: rotate(135deg) translate(3.2rem, -3.2rem);
}
.small-petal5 {
  animation-delay: 1600ms;
  border-radius: 100% 0;
  grid-column: 2/4;
  grid-row: 4/6;
}
.small-petal6 {
  animation-delay: 1800ms;
  border-radius: 100% 0;
  grid-column: 2/4;
  grid-row: 3/5;
  transform: rotate(45deg) translate(-0.6rem, 0.6rem);
}
.small-petal7 {
  animation-delay: 2000ms;
  border-radius: 0 100%;
  grid-column: 2/4;
  grid-row: 2/4;
}
.small-petal8 {
  animation-delay: 2200ms;
  border-radius: 100% 0;
  grid-column: 3/5;
  grid-row: 1/3;
  transform: rotate(135deg) translate(1.7rem, -1.7rem);
}
@keyframes showPetals {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//Title revealing
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header .static-txt {
  font-size: 60px;
  font-weight: 400;
  cursor: pointer;
}
.header .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #fc6d6d;
  font-size: 50px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  margin-top: 10px;
  width: 100%;
  background: white;
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

//Authorization
.authorization-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.authorization-wrapper{
  font-size: 30px;
  margin-bottom: 40px;
}

//Register
.register {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 40px;
  }
  input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
  }
  .error-input {
    border: 2px red solid;
  }
  .error-message {
    color: red;
  }
  .register-input-top-wrapper,
  .register-input-bottom-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
  }
}

$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.third {
  border-color: $blue;
  color: #fff;
  box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;
  font-family: $main-font;
  &:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
  }
}

//Products
.products-section {
  display: flex;
  justify-content: center;

  a{
    text-decoration: none;
    color: inherit;
  }

  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-wrap: wrap;
  }

  .product-wrapper {
    cursor: pointer;
    margin: 20px;
  }

  .product-preview-image {
    width: 280px;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s linear;
  }

  .product-preview-name {
    width: 280px;
    max-height: 90px;
    overflow: hidden;
    padding: 3px 8px;
    font-size: 23px;
  }
  .product-preview-price-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  .product-preview-price{
    font-size: 30px;
    font-weight: bold;
  }
  .product-preview-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01FF70;
    padding: auto;
    width: 60px;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
}
}

//Single Product
.single-product-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
.single-product-wrapper{
  width: 80vw;
  display: flex;
}

h1{
  font-size: 26px;
}

.single-product-images-wrapper{
  display: flex;
  align-items: center;
}

.single-product-image{
  width: 310px;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.side-images-container{
  max-height: 400px;
  margin-right: 15px;
}

.side-image{
  width: 50px;
  height: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid black;  
  margin-bottom: 5px;
}

.name-price-wrapper{
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.single-product-name{
  width: 70%;
  margin-left: 30px;
}

.product-price-wrapper{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 30px;
.product-price{
  font-size: 37px;
  font-weight: bold;
  margin-right: 30px;
}
.product-discount{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #01FF70;
  padding: auto;
  width: 60px;
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
}
.product-size-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  margin: 30px 0 0 30px;
}

.product-size-wrapper{
  margin-left: 10px;
  border: 1px solid black;
  padding: 5px 20px;
  cursor: pointer;
}

.product-size{
  margin: 15px 0 0 30px;
  font-size: 26px;
}

.chosen-size{
  background: #fc6d6d; 
}

.product-colors-container{
  margin-left: 30px;
  display: flex;

}

.product-color-wrapper{
  margin-left: 10px;
  border: 1px solid black;
  padding: 10px 20px;
  background: #fc6d6d;
  filter: brightness(0.5);
  cursor: pointer;
}

.chosen-color{
  filter: brightness(1);
}

.quantity-bar-wrapper{
  display: flex;
  margin: 30px 15px 0 30px;
}

.quantity-bar{
  font-size: 25px;
  padding: 0 10px;
  border: 1px solid gray;
  height: 45px;
  line-height: 45px;
}

.number{
  width: 47px;
  text-align: center;
  resize: none;
  overflow: hidden;
}

.sign{
  cursor: pointer;
}

.quantity-basket-wrapper{
  display: flex;
  align-items: flex-start;
}

.add-to-basket-wrapper{
  border: 1px solid black;
  font-size: 25px;
  height: 45px;
  width: 190px;
  line-height: 45px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
  .loading-image{
    width: 44px;
    height: 44px;
  }
}
.add-to-basket-wrapper:hover{
  filter: opacity(0.6);
  transform: scale(1.04);
}

.product-description{
  width: 70vw;
  margin-top: 40px;
}
}

//Profile
.profile-section{
  display: flex;
  justify-content: center;

  .logout-wrapper{
    cursor: pointer;
    width: 64px;
    height: 64px;
    font-size: 45px;
    position: absolute;
    right: 30px;
    bottom: 20px;
  }

}

// Main Menu
.main-menu-wrapper{
  display: block;
  #ctrl-button{
    background: gray;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50% 50% 0 0;
    text-align: center;
  }
  .main-menu-button:hover{
    transform: scale(1.1);
  }
.menu-button-text{
  font-size: 20px;
  width: 370px;
  margin-left: -160px;
}

.fa-plus, .fa-minus{
  font-size: 35px;
  color: white;
}

.ctrl {
	position: fixed;
	bottom: 25px;
  left: 50%;
	font-size: 45px;
	transition: .5s;
}

a.ctrl, .ctrl div {
	display: block;
	opacity: 1;
	// background: #c9c9c9;
	color: #7a8092;
	text-align: center;
	text-decoration: none;
	// text-shadow: 0 -1px dimgrey;
  cursor: pointer;
}

// a.ctrl:hover, .ctrl div:hover, a.ctrl:focus { 
//   opacity: ; 
// }
a.ctrl{
  opacity: 0.9;
}
a.ctrl:focus { 
  outline: none;
  opacity: 1;
}

.button {
	z-index: 2;
	margin: -.625em;
	width: 1.25em; height: 1.25em;
	border-radius: 50%;
	// box-shadow: 0 0 3px 1px white;
}

/* circular menu */
.tip {
	z-index: 1;
	/**outline: dotted 1px white;/**/
	margin: -5em;
	width: 10em; height: 10em;
	transform: scale(.001);
	list-style: none;
	opacity: 0;
}

/* the ends of the menu */
.tip:before, .tip:after {
	position: absolute;
	top: 34.3%;
	width: .5em; height: 14%;
	opacity: 1;
	background: #c9c9c9;
	content: '';
}
.tip:before {
	left: 5.4%;
	border-radius: .25em 0 0 .25em;
	box-shadow: -1px 0 1px dimgrey, inset 1px 0 1px white, inset -1px 0 1px grey, 
				inset 0 1px 1px white, inset 0 -1px 1px white;
	transform: rotate(-75deg);
}
.tip:after {
	right: 5.4%;
	border-radius: 0 .25em .25em 0;
	box-shadow: 1px 0 1px dimgrey, inset -1px 0 1px white, inset 1px 0 1px grey,
				inset 0 1px 1px white, inset 0 -1px 1px white;
	transform: rotate(75deg);
}

/* make the menu appear on click */
// .button:focus + .tip {
// 	transform: scale(1);
// 	opacity: 1;
// }



.show-tip{
  transform: scale(1);
	opacity: 1;
  border-radius: 50%;
}

/* slices of the circular menu */
.slice {
	overflow: hidden;
	position: absolute;
	/**outline: dotted 1px yellow;/**/
	width: 50%; height: 50%;
	transform-origin: 100% 100%;
}
.slice:hover{
  filter: brightness(0.9);
}

/* 
 * rotate each slice at the right angle = (A/2)° + (k - (n+1)/2)*A°
 * where A is the angle of 1 slice (30° in this case)
 * k is the number of the slice (in {1,2,3,4,5} here)
 * and n is the number of slices (5 in this case)
 * formula works for odd number of slices (n odd)
 * for even number of slices (n even) the rotation angle is (k - n/2)*A°
 * 
 * after rotating, skew on Y by 90°-A°; here A° = the angle for 1 slice = 30° 
 */
.slice:first-child { transform: rotate(-45deg) skewY(60deg); }
.slice:nth-child(2) { transform: rotate(-15deg) skewY(60deg); }
.slice:nth-child(3) { transform: rotate(15deg) skewY(60deg); }
.slice:nth-child(4) { transform: rotate(45deg) skewY(60deg); }
.slice:last-child { transform: rotate(75deg) skewY(60deg); }

/* covers for the inner part of the links so there's no hover trigger between
   star button & menu links; give them a red background to see them */
.slice:after {
	position: absolute;
	top: 32%; left: 32%;
	width: 136%; height: 136%;
	border-radius: 50%;
	/* "unskew" = skew by minus the same angle by which parent was skewed */
	transform: skewY(-60deg);
	content: '';
}

/* menu links */
.slice div {
	width: 200%; height: 200%;
	border-radius: 50%;
	box-shadow: 0 0 3px dimgrey, inset 0 0 4px white;
	/* "unskew" & rotate by -A°/2 */
	transform: skewY(-60deg) rotate(-15deg);
	background: /* lateral separators */
			linear-gradient(75deg, 
		transparent 50%, grey 50%, transparent 54%) no-repeat 36.5% 0,
			linear-gradient(-75deg, 
		transparent 50%, grey 50%, transparent 54%) no-repeat 63.5% 0,
		/* make sure inner part is transparent */
		radial-gradient(rgba(127,127,127,0) 49%, 
					rgba(255,255,255,.7) 51%, #FFDC00 52%);
	background-size: 15% 15%, 15% 15%, cover;
	line-height: 1.4;
}

/* arrow for middle link */
.slice:nth-child(3) div:after {
	position: absolute;
	top: 13%; left: 50%;
	margin: -.25em;
	width: .5em; height: .5em;
	box-shadow: 2px 2px 2px white;
	transform: rotate(45deg);
	background: linear-gradient(-45deg, #c9c9c9 50%, transparent 50%);
	content: '';
}
}