$main-font: 'Gluten', cursive;
$logo-font: "Galindo", cursive;
// $dark-color: #FF1510;
// $second-color: rgb(250,203,82);
// $third-color: rgb(82,193,199);
// $dark-color: rgb(82,193,199);
$gray-color: #747474;
$navbar-height: 150px;

//Second Color Variant
$dark-color: rgb(80,29,89);
$second-color: rgb(250,203,82);
$third-color: rgb(82,193,199);
$fourth-color: #FF1510;
$text-color: #474747;

html, body{
  height: 100%;
}

body {
  font-family: $main-font;
  // overflow-x: hidden;
  color: $text-color;
  font-weight: 200;
}

.whole-page{
  min-height: 100vh;
}

input, textarea{
  padding: 5px 6px;
  margin-top: 4px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid $text-color;
}
input:focus, textarea:focus{
  outline: $second-color;
  border: 2px solid $second-color;
}

button{
  z-index: 3;
}

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    -webkit-overflow-scrolling: scroll!important;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
.classic-btn{
  border: 1px solid $dark-color;
  background: $dark-color;
  color: $second-color;
  border-radius: 17px;
  font-size: 22px;
  font-weight: 300;
  height: 45px;
  width: 190px;
  line-height: 45px;
  text-align: center;
  border: 2px solid $second-color;
  cursor: pointer;
  .loading-image{
    width: 44px;
    height: 44px;
  }
}
.loading-image-checkout{
  width: 30px;
  height: 30px;
}
.btn-loading{
  align-self: center;
}
.classic-btn:hover{
  transform: scale(1.04);
  color: $third-color;
}

* { margin: 0; padding: 0; }

//Home page
.home-page{
  .flip{
    transform: rotate(180deg);
  }
  .home-logo{
      width: 35px;
      height: 35px;
      background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1639597824/Nu%20Hippies/icons/logo_h5vng1.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }
  .change-image{
    background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1639597714/Nu%20Hippies/icons/logo-white_k6b7uh.png");
  }
  .home-title-wrapper{
    display: flex;
    justify-content: center;
    width: 100vw
  }
  .home-title{
    padding-top: 30px;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
  }
  .title-color{
    color: $dark-color;
  }
}

//Basket page
.basket-page{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .empty-basket{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    h1{
      margin-top: 30vh;
      font-size: 30px;
    }
  }
  .basket-container{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .basket-item-wrapper{
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-top: 1px solid $dark-color;
    border-bottom: 1px solid $dark-color;
    padding: 20px 0;
  }
  .basket-subtotal-remove{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  .basket-remove{
    cursor: pointer;
    color: $dark-color;
  }
  .basket-subtotal{
    font-size: 21px;
    font-weight: 300;
  }
  .basket-item{
    display: flex;
    justify-content: space-between;
    .basket-price{
      font-weight: 300;
      font-size: 18px;
    }
    img{
      width: 80px;
      height: 80px;
      margin-right: 30px;
    }
  }
  select{
    margin-left: 7px;
  }
  .checkout-button-total-price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid $dark-color;
    width: 20vw;
    height: 150px;
    margin-top: 30px;
    font-size: 22px;
    padding: 9px 9px 25px 9px;
  }
  .checkout-button-total-price div{
    margin-top: 10px;
  }
  .checkout-button{
    background: $dark-color;
    font-size: 20px;
    font-weight: 300;
    color: $second-color; 
    border-radius: 10px;
    border: 2px solid $second-color;
    text-align: center;
    width: 15vw;
    padding: 10px 19px;
    cursor: pointer;
  }
  .checkout-button:hover{
    transform: scale(1.03);
    color: $third-color;    
  }
  .total-price{
    text-align: center;
  }
  h1{
    font-size: 23px;
    font-weight: 300;
  }
  .basket-image-title{
    display: flex;
    max-width: 60%;
  }
  .color-size-price{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .number{
    width: 19px;
    text-align: center;
    resize: none;
    overflow: hidden;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

.basket-icon-wrapper{
  display: block;
  position: absolute;
  top: 23px;
  right: 30px;
  cursor: pointer;
  img{
    width: 40px;
    height: 40px;
  }
  .basket-number{
    font-size: 16px;
    font-weight: 500;
    color: $third-color;
    position: absolute;
    right: 13px;
    top: 7px;
  }
}
.basket-icon-wrapper:hover{
  transform: scale(1.1);
}

//Shipping page 
.shipping-page{
  display: flex;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
  h2{
    font-weight: 300;
  }
  .basket-preview{
    margin-bottom: -60px;
  }
}
.shipping-radio{
  width: 40%;
}
.shipping-option{
  border: 1px solid $dark-color;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.shipping-option-name-radio{
  display: flex;
  align-items: flex-start;
  input{
    margin-right: 10px;
    margin-top: 5px;
  }
}
.shipping-description{
  color: gray;
  font-size: 15px;
  margin-top: 5px;
}

.basket-preview{
  width: 30vw;
}

//Payment page
.payment-page{
  display: flex;
  padding: 1% 5% 5% 5%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  h2{
    font-weight: 300;
  }
  .payment-radio{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  input{
    margin: 0 8px 10px 0;
  }
  .payment-option{
    margin: 15px 0;
  }
  .paypal-icon{
    width: 80px;
    height: 80px;
    margin-bottom: -30px;
  }
}

//Checkout page
.checkout-page{
  display: flex;
  padding: 1% 5% 5% 5%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  h2{
    font-weight: 300;
  }
}
.total-price-checkout-wrapper{
  border: 1px solid $dark-color;
  padding: 16px 0;
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  .total-text{
    margin-bottom: 10px;
  }
  :nth-child(3){
    margin-bottom: 0px;
  }
}
.order-items-container{
  max-height: 230px;
  overflow-y: scroll;
}
.order-confirmation-details{
  margin-left: 40px;
}
.total-price-checkout-wrapper div{
  margin-top: 9px;
}
.size{
  padding-right: 20px;
}
.color{
  padding-right: 20px;
}
h2{
  padding-bottom: 10px;
}
  .shipping-preview-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .checkout-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    a{
      text-decoration: none;
      color: $text-color;
    }
    .right, .left{
      padding: 9px 38px;
      cursor: pointer;
      border-radius: 10px;
      font-weight: 300;
      font-size: 18px;
    }
    .right{
      border: 2px solid $second-color;
      color: $second-color;
      background: $dark-color;
      margin-left: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right:hover{
      transform: scale(1.02);
      color: $third-color;
    }
    .left{
      background: white;
      border: 1px solid $text-color;
      margin-right: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      display: flex;
    }
  }
  .forms-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .checkout-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-right: 20px;
    input{
      margin-bottom: 9px;
    }
  }
  
  .billing-radio{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 17px;
    input{
      margin: 0 10px 10px 0;
    }
  }
  .image-checkout-wrapper{
    margin-bottom: 15px;
    display: flex;
    .image-checkout-name{
      width: 60%;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .image-checkout-description{
      color: gray;
      font-size: 13px;
    }
    .image-checkout{
      width: 60px;
      height: 60px;
      border: 1px solid gray;
      border-radius: 5%;
      background-size: cover;
      margin-right: 7px;
    }
  }

  //Order Confirmation Page
  .confirmation-page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    h2{
      margin-bottom: 30px;
      text-align: center;
    }
    h3{
      text-align: center;
    }
    .classic-btn{
      margin-top: 30px;
    }
    .total-price-checkout-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }

  //Navbar
.navbar {
  width: 100vw;
  font-family: $logo-font;
  font-size: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 4;
  a{
    text-decoration: none;
  }
  a .active{
    color: $third-color;
  }

.products-navbar{
  display: flex;
  position: absolute;
  font-family: $main-font!important;
  font-weight: 300;
  font-size: 17px;
  padding-top: 14px;
  left: 30px;
  a {
    z-index:5;
  }
}
.gender-navbar-part-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.gender-navbar-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-weight: 200;
  font-size: 25px;
  margin-bottom: 50px;
}
h3{
  font-size: 25px;
  font-weight: 400;
  border-bottom: 1px solid $text-color;
  padding-bottom: 4px;
  color: $text-color;
  text-align: center;
  cursor: pointer;
  margin-bottom: 7px;
}
.small-item{
  margin: 8px 0;
  cursor: pointer;
}
h3:hover, .small-item:hover{
  color: $third-color;
}
.products-navbar-item{
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 17px;
    border-radius: 5px;
    color: $dark-color;
    text-align: center;
}
.link-no-underline {
  text-decoration: none;
  color: $dark-color;
}
}

.hover-products-menu{
  position: absolute;
  top: 0px;
  left: -30px;
  display: flex;
  justify-content: center;
  background: white;
  border-right: 2px solid $text-color;
  color: $text-color;
  width: 250px;
  z-index: 4;
  border-radius: 0 0 5px 5px;
  padding: 30px 0 0 0;
  a {
    color: $text-color;
  }
}

.logo-wrapper{
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}
.logo{
  background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1639597863/Nu%20Hippies/icons/logo2_mog4wx.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-position: center;
}
.logo:hover{
  transform: scale(1.04);
}
.colored{
  color: $third-color;
}

@keyframes menu-in{
  0% { left: -280px ;}
  100% { left: -30px; }
}

@keyframes menu-out {
  0% { left:  -30px;}
  100% { left: -280px; }
}


//Title revealing
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header .static-txt {
  font-size: 49px;
  font-weight: 400;
  cursor: pointer;
}
.header .dynamic-txts {
  margin-left: 15px;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: $second-color;
  font-size: 37px;
  font-weight: 300;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  margin-top: 28px;
  width: 100%;
  background: white;
  border-left: 2px solid $dark-color;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

// Flower
.flower-content {
  // background:linear-gradient(to top right, #000000, #35064f);
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 150px;
  position: relative;
  cursor: pointer;
}
.bright{
  filter: brightness(0.7);
}
.flower {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  transform: scale(0.3);
}
.big-petal {
  animation: 1000ms showPetals linear forwards;
  background: linear-gradient(to bottom, rgba(231, 249, 33, 0.536), rgba(204, 193, 99, 0.2));
  opacity: 0;
}
.small-petal {
  animation: 1000ms showPetals linear forwards;
  background-image: linear-gradient(to left, rgba(255, 255, 21, 0.8) 0%, #FF652F 100%);
  opacity: 0;
}
.big-petal1 {
  border-radius: 100% 0;
  box-shadow: 0 2.75em 4.5em rgba(0, 0, 0, 0.2);
  grid-column: 4/-1;
  grid-row: 1/4;
}
.big-petal2 {
  animation-delay: 200ms;
  box-shadow: 2.75em 0 4.5em rgba(0, 0, 0, 0.2);
  border-radius: 0 100%;
  grid-column: 4/-1;
  grid-row: 4/-1;
}
.big-petal3 {
  animation-delay: 400ms;
  border-radius: 100% 0;
  box-shadow: 0 -2.75em 4.5em rgba(0, 0, 0, 0.2);
  grid-column: 1/4;
  grid-row: 4 / -1;
}
.big-petal4 {
  animation-delay: 600ms;
  border-radius: 0 100%;
  box-shadow: -2.75em 0 4.5em rgba(0, 0, 0, 0.2);
  grid-column: 1/4;
  grid-row: 1/4;
}
.small-petal1 {
  animation-delay: 800ms;
  border-radius: 100% 0;
  grid-column: 4/6;
  grid-row: 2/4;
}
.small-petal2 {
  animation-delay: 1000ms;
  border-radius: 100% 0;
  grid-column: 4/6;
  grid-row: 3/5;
  transform: rotate(45deg) translate(0.8rem, -0.8rem);
}
.small-petal3 {
  animation-delay: 1200ms;
  border-radius: 0 100%;
  grid-column: 4/6;
  grid-row: 4/6;
}
.small-petal4 {
  animation-delay: 1400ms;
  border-radius: 100% 0;
  grid-column: 3/5;
  grid-row: 3/5;
  transform: rotate(135deg) translate(3.2rem, -3.2rem);
}
.small-petal5 {
  animation-delay: 1600ms;
  border-radius: 100% 0;
  grid-column: 2/4;
  grid-row: 4/6;
}
.small-petal6 {
  animation-delay: 1800ms;
  border-radius: 100% 0;
  grid-column: 2/4;
  grid-row: 3/5;
  transform: rotate(45deg) translate(-0.6rem, 0.6rem);
}
.small-petal7 {
  animation-delay: 2000ms;
  border-radius: 0 100%;
  grid-column: 2/4;
  grid-row: 2/4;
}
.small-petal8 {
  animation-delay: 2200ms;
  border-radius: 100% 0;
  grid-column: 3/5;
  grid-row: 1/3;
  transform: rotate(135deg) translate(1.7rem, -1.7rem);
}
.flower-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
}
.flower-container.one {
  left: 20px;
  top: 80px;
}
.flower-container.two {
  right: 20px;
  top: 80px;
}
.flowerProductImage {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
}
.flowerProductImage:hover {
  display: flex;
  border-radius: 0%;
  opacity: 1;
  height: 320px;
  width: 320px;
  transition-duration: 800ms;
  transition-delay: 150ms;
  box-shadow: 0px 4px 30px 2px rgba($second-color, 0.92);
}
@keyframes showPetals {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//Authorization
.auth-page{

.auth-side{
  display: flex;
  flex-direction: column;
}
.auth-btn-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  bottom: 40px;
  right: 50px;
}
button{
  font-family: $main-font;
  font-weight: 300;
}
.auth-btn:hover{
  transform: scale(1.04);
  transition: 0.2s;
  color: $dark-color;
}
.authorization-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
}

.authorization-wrapper{
  font-size: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-side, .authorization-wrapper, .register{
  .classic-btn{
    margin-top: 10px;
  }
}

//Register
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    padding: 20px 30px 0px 30px;
    text-align: center;
  }
  form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  button{
    align-self: center;
  }
  input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
  }
  .register-input-top-wrapper,
  .register-input-bottom-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
  }
}
}
.error-input {
  border: 2px red solid;
}

.error-message {
  color: red;
}

.login-bttn-wrapper{
  display: flex;
  align-items: center;
  .forgot{
    margin-top: 10px;
    margin-left: 60px;
    color: $dark-color;
    cursor: pointer;
  }
  a{
    text-decoration: none;
  }
  .forgot:hover{
    transform: scale(1.03);
  }
}

//Forgot page 
.forgot-page, .reset-page{
  display: flex;
  justify-content: center;
  align-items: center;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .classic-btn{
    margin-top: 10px;
  }
  h1{
    margin: 50px 0 100px 0;
  }
  button{
    font-family: $main-font;
  }
  input{
    margin: 6px 0;
  }
}

//Done page
.done-page{
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    text-align: center;
    padding: 0 20px;
  }
  .progress-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  progress {
    display:inline-block;
    width: 290px;
    height: 30px;
    margin-top: 50px;
    border-radius: 0px;
    text-align: left;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
  }
  progress::-webkit-progress-bar {
    height: 30px;
    width: 290px;
  }
  progress::-webkit-progress-value {
    display:inline-block;
    float: left;
    height: 30px;
    width: 290px;
    margin:0px -10px 0 0;
    background: $second-color;
  }
  // progress:after {
  //   margin:-26px 0 0 -7px;
  //   padding:0;
  //   display:inline-block;
  //   float:left;
  // }
}

//Products
.products-page {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  a{
    text-decoration: none;
    color: inherit;
  }
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-wrap: wrap;
  }
  .product-wrapper {
    margin: 20px;
  }
  .product-preview-image {
    width: 280px;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s linear;
  }
  .product-preview-name {
    width: 280px;
    max-height: 90px;
    overflow: hidden;
    padding: 3px 8px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }
  .product-preview-price-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  .product-preview-price{
    font-size: 30px;
    font-weight: 400;
  }
  .product-preview-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $second-color;
    padding: auto;
    width: 60px;
    height: 24px;
    font-size: 20px;
    font-weight: 300;
    color: $dark-color;
  }
}
}

//categorizied products
.products-page.categorized{
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.cat-nav{
  display: flex;
  // position: absolute;
  // left: 20px;
  // top: 80px;
  a{
    text-decoration: none;
    color: $dark-color;
    padding-right: 10px;
  }
  .sign{
    margin-right: 10px;
  }
  a:hover{
    color: $third-color;
  }
  .cat-nav-item:last-child{
      color: $dark-color;
  }
  .symbol{
    margin: 0 12px 0 5px;
  }
}

//Single Product
.single-product-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
.single-product-wrapper{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}
h1{
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}
.single-product-images-wrapper{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.single-product-image{
  width: 310px;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.side-images-container{
  max-height: 400px;
  margin-right: 15px;
}
.side-image{
  width: 50px;
  height: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid $dark-color;  
  margin-bottom: 5px;
  filter: brightness(0.6);
}
.name-price-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.single-product-name{
  width: 70%;
  margin-bottom: 30px;
}
.product-price-wrapper{
  display: flex;
  justify-content: left;
  align-items: center;
.product-price{
  font-size: 37px;
  font-weight: 400;
  margin-right: 30px;
}
.product-discount{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $second-color;
  padding: auto;
  width: 60px;
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 300;
}
}
.product-size-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 30px;
}
.product-size-wrapper{
  border: 1px solid $text-color;
  padding: 5px 20px;
  cursor: pointer;
  margin-right: 15px;
}
.product-size{
  margin: 13px 0 16px 0;
  font-size: 26px;
}
.chosen-size{
  background: $third-color; 
}
.chosen-side-image{
  border: 1px solid $third-color;
  filter: brightness(1);
}
.product-colors-container{
  display: flex;
  margin-top: 20px;
}
.product-color-wrapper{
  margin-right: 10px;
  border: 1px solid $text-color;
  padding: 10px 20px;
  cursor: pointer;
}
.chosen-color{
  background: $third-color;
}
.number{
  width: 47px;
  text-align: center;
  resize: none;
  overflow: hidden;
}
.sign{
  cursor: pointer;
}
.quantity-add-wrapper{
  display: flex;
  align-items: center;
  a{
    text-decoration: none;
  }
}
.quantity-bar{
  font-size: 26px;
  margin-right: 30px;
  select{
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
  }
  select:focus{
    outline: none;
  }
  label{
    margin-right: 7px;
  }
}
.product-description{
  width: 70vw;
  margin-top: 40px;
  h1{
    font-weight: 300;
    margin-bottom: 10px;
  }
}
.added-wrapper-hide{
  animation: .5s added-hide linear;
}
.basket-added-wrapper{
  width: 60vw;
  height: 70vh;
  border: 1px solid $dark-color;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0%;
  right: 50%;
  margin-right: -30vw;
  background: $third-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: .5s basket-added linear;
  color: $second-color;
  h1{
    color: $dark-color;
    font-weight: 600;
  }
  .basket-added-buttons{
    display: flex;
  }
  .basket-added-btn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 300;
    background: $dark-color;
    border: 2px solid $second-color;
    border-radius: 10px;
    color: $second-color;
    cursor: pointer;
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .basket-added-btn:hover{
    color: $third-color;
    transform: scale(1.04);
  }
  a {
    text-decoration: none;
    color: $second-color;
  }
}
}

@keyframes basket-added {
  0% { bottom: -100% ;}
  100% { bottom: 0%; }
}

@keyframes added-hide {
  0% { bottom: 0% ;}
  100% { bottom: -100%; }
}

//Profile
.profile-page{
  a{
    text-decoration: none;
    color: $dark-color;
  }
  display: flex;
  justify-content: center;
  .profile-icons-container{
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5%;
  }
  .profile-icon{
    display: flex;
    width: 300px;
    border: 1px solid lightgray;
    margin: 0 40px 40px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    .profile-icon-text{
      margin-bottom: 20px;
      text-align: center;
    }
    .profile-icon-description{
      width: 100%;
    }
    .description{
      font-size: 13px;
      color: $gray-color;
      font-weight: 100;
      text-align: center;
    }
    img{
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }
  }
  .profile-icon:hover{
    box-shadow: $second-color 0px 30px 60px -12px inset, $second-color 0px 18px 36px -18px inset;
  }
}
.logout-wrapper{
  cursor: pointer;
  width: 64px;
  height: 64px;
  font-size: 45px;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 3;
}
.logout-wrapper:hover{
  color: $dark-color;
}
.account-nav{
  display: flex;
  align-self: flex-start;
  color: $dark-color;
  margin-left: 20px;
  .auth{
    cursor: pointer;
    color: $dark-color;
  }
  .auth:hover{
    color: $third-color;
  }
  a{
    text-decoration: none;
    color: $dark-color;
    margin-right: 10px;
  }
  a:hover{
    color: $third-color;
  }
  .sign{
    margin-right: 10px;
  }
  .sign-auth{
    margin-right: 3px;
  }
}

//About page
.about-page{
  display: flex;
  justify-content: center;
  align-items: center;
  .form-wrapper{
    width: 70vw;
    margin-top: 30px;
  }
  h1{
    text-align: center;
    margin-bottom: 20px;
  }
  p{
    font-size: 18px;
    line-height: 23px;
  }
}

// Contact page
.contact-page{
  width: 100vw;
  display: flex;
  justify-content: center;
  .form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  input, textarea{
    margin-bottom: 10px;
  }
}

// Edit account page
.edit-account-page, .edit-adress-page{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .classic-btn{
    margin: 17px;
  }
  .edit-line-container{
    margin-top: 5vh;
  }
  .edit-line{
    font-size: 22px;
    margin-bottom: 12px;
  }
  .bold{
    font-weight: 400;
    margin-right: 15px;
  }
  form{
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: 300;
    min-width: 30vw;
  }
  input{
    font-size: 17px;
    font-weight: 200;
    font-family: $main-font;
  }
  button{
    font-family: $main-font;
  }
  label{
    margin-bottom: 3px;
    margin-top: 15px;
  }
  .edit-account-button{
    border: 1px solid $dark-color;
    background: $dark-color;
    color: $second-color;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 300;
    height: 45px;
    width: 190px;
    z-index: 3;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    align-self: center;
    margin-top: 15px;
  }
}

//edit adress
.edit-adress-page{
  .edit-line-container{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }
  .shipping-billing-edit{
    display: flex;
    flex-direction: column;
  }
  .billing-edit-container{
    margin-left: 70px;
  }
  .isBilling{
    margin-top: 40px;
  }
  h2{
    margin: 30px 0 10px 0;
  }
}

// Main Menu
.main-menu-wrapper{
  display: block;
  #ctrl-button{
    background: $second-color;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50% 50% 0 0;
    text-align: center;
    margin-left: -8px;
    opacity: 0.8;
  }
  #ctrl-button:hover{
    background: $third-color;
    transform: scale(1.1);
    opacity: 1;
  }
  
.menu-button-text{
  font-size: 44px;
  color: $dark-color!important;
  width: 370px;
  margin-left: -164px;
  margin-top: -10px;
  border: 5px solid $dark-color;
  border-radius: 15px;
  transform: scale(0.4);
}
.fa-plus, .fa-minus{
  font-size: 35px;
  color: $dark-color;
}
.ctrl {
	position: fixed;
	bottom: 25px;
  left: 50%;
	font-size: 40px;
	transition: .5s;
}
a.ctrl, .ctrl div {
	display: block;
	color: $dark-color;
	text-align: center;
	text-decoration: none;
  cursor: pointer;
}
.ctrl div:hover{
  color: $third-color;
}
.button {
	z-index: 2;
	margin: -.625em;
	width: 1.25em; height: 1.25em;
	border-radius: 50%;
}

// /* circular menu */
.tip {
	z-index: 10;
	margin: -5em;
	width: 10em; height: 10em;
	transform: scale(.001);
	list-style: none;
	opacity: 0;
}

// /* the ends of the menu */
.tip:before, .tip:after {
	position: absolute;
	top: 32.5%;
	width: .3em; height: 15.2%;
	background: $dark-color;
	content: '';
}
.tip:before {
	left: 7.1%;
	border-radius: .25em 0 0 .25em;
	transform: rotate(-75deg);
  box-shadow: -1px 0 1px dimgrey, inset 1px 0 1px white, inset -1px 0 1px grey, 
          inset 0 1px 1px white, inset 0 -1px 1px white;
}
.tip:after {
	right: 7.1%;
	border-radius: 0 .25em .25em 0;
	transform: rotate(75deg);
  box-shadow: -1px 0 1px dimgrey, inset 1px 0 1px white, inset -1px 0 1px grey, 
          inset 0 1px 1px white, inset 0 -1px 1px white;
}
.show-tip{
  transform: scale(1);
	opacity: 1;
  border-radius: 50%;
}
// /* slices of the circular menu */
.slice {
	overflow: hidden;
	position: absolute;
	width: 50%; height: 50%;
	transform-origin: 100% 100%;
}

.slice:nth-child(1) { transform: rotate(-45deg) skewY(60deg); }
.slice:nth-child(2) { transform: rotate(-15deg) skewY(60deg); }
.slice:nth-child(3) { transform: rotate(15deg) skewY(60deg); }
.slice:nth-child(4) { transform: rotate(45deg) skewY(60deg); }
.slice:nth-child(5) { transform: rotate(75deg) skewY(60deg); }

.slice:after {
	position: absolute;
	top: 32%; left: 32%;
	width: 136%; height: 136%;
	border-radius: 50%;
	/* "unskew" = skew by minus the same angle by which parent was skewed */
	transform: skewY(-60deg);
	content: '';
}

// /* menu links */
.slice div {
	width: 200%; height: 200%;
	border-radius: 50%;
	/* "unskew" & rotate by -A°/2 */
	transform: skewY(-60deg) rotate(-15deg);
      box-shadow: 0 0 3px $dark-color, inset 0 0 4px white;

	background: /* lateral separators */
			linear-gradient(75deg, 
		transparent 50%, white 50%, transparent 54%) no-repeat 36.5% 0,
			linear-gradient(-75deg, 
		transparent 50%, white 50%, transparent 54%) no-repeat 63.5% 0,
		/* make sure inner part is transparent */
		radial-gradient(rgba(127, 127, 127, 0) 49%, 
					rgba(255,255,255,.3) 0%, $second-color 50%);
    background-size: 17% 17%, 17% 17%, cover;
	line-height: 1.7;
}

// /* arrow for middle link */
.slice:nth-child(3) div:after {
	position: absolute;
	top: 15.1%; left: 50%;
	margin: -.25em;
	width: .5em; height: .5em;
	transform: rotate(45deg);
	background: linear-gradient(-45deg, $second-color 50%, transparent 50%);
  border-right: 1px solid $dark-color;
  border-bottom: 1px solid $dark-color;
	content: '';
}
}

//Discount popup
.discount-page{
  display: flex;
  justify-content: center;
  h1{
    margin-top: 50px;
  }
}

.show-discount{
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  z-index: 7;
  // background: url('https://ih1.redbubble.net/image.867359441.0147/flat,750x,075,f-pad,750x1000,f8f8f8.u4.jpg') no-repeat;
  background-size: contain;
  cursor: url('./images/frames/1.gif'), auto;
}

.discount-popup-wrapper{
  background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1639599163/Nu%20Hippies/icons/nazi_osdpkq.png");
  background-size: contain;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -400px;
  left: -400px;
  transition: 0.3s;
  filter: brightness(0.7);
  visibility: hidden;
}

.score-window{
  position: fixed;
  width: 500px;
  height: 500px;
  margin-bottom: -260px;
  margin-left: -260px;
  bottom: 50%;
  left: 50%;
  background: $second-color;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 6;
  h2{
    font-weight: 400;
  }
  .highlighted{
    color: $dark-color;
  }
.classic-btn{
  margin-top: 40px;
}
}


@keyframes cursor {
  0% {
    cursor: url("./images/frames/1.gif"), auto;
  }
  2% {
    cursor: url("./images/frames/2.gif"), auto;
  }
  4% {
    cursor: url("./images/frames/4.gif"), auto;
  }
  6% {
    cursor: url("./images/frames/5.gif"), auto;
  }
  8% {
    cursor: url("./images/frames/7.gif"), auto;
  }
  10% {
    cursor: url("./images/frames/8.gif"), auto;
  }
  12% {
    cursor: url("./images/frames/10.gif"), auto;
  }
  14% {
    cursor: url("./images/frames/11.gif"), auto;
  }
  16% {
    cursor: url("./images/frames/13.gif"), auto;
  }
  18% {
    cursor: url("./images/frames/14.gif"), auto;
  }
  20% {
    cursor: url("./images/frames/16.gif"), auto;
  }
  22% {
    cursor: url("./images/frames/17.gif"), auto;
  }
  24% {
    cursor: url("./images/frames/19.gif"), auto;
  }
  26% {
    cursor: url("./images/frames/20.gif"), auto;
  }
  28% {
    cursor: url("./images/frames/22.gif"), auto;
  }
  30% {
    cursor: url("./images/frames/23.gif"), auto;
  }
  32% {
    cursor: url("./images/frames/25.gif"), auto;
  }
  34% {
    cursor: url("./images/frames/26.gif"), auto;
  }
  36% {
    cursor: url("./images/frames/28.gif"), auto;
  }
  38% {
    cursor: url("./images/frames/29.gif"), auto;
  }
  40% {
    cursor: url("./images/frames/31.gif"), auto;
  }
  42% {
    cursor: url("./images/frames/32.gif"), auto;
  }
  46% {
    cursor: url("./images/frames/34.gif"), auto;
  }
  48% {
    cursor: url("./images/frames/35.gif"), auto;
  }
  50% {
    cursor: url("./images/frames/37.gif"), auto;
  }
  52% {
    cursor: url("./images/frames/38.gif"), auto;
  }
  54% {
    cursor: url("./images/frames/40.gif"), auto;
  }
  56% {
    cursor: url("./images/frames/41.gif"), auto;
  }
  58% {
    cursor: url("./images/frames/43.gif"), auto;
  }
  60% {
    cursor: url("./images/frames/44.gif"), auto;
  }
  62% {
    cursor: url("./images/frames/46.gif"), auto;
  }
  64% {
    cursor: url("./images/frames/47.gif"), auto;
  }
  66% {
    cursor: url("./images/frames/49.gif"), auto;
  }
  68% {
    cursor: url("./images/frames/50.gif"), auto;
  }
  70% {
    cursor: url("./images/frames/52.gif"), auto;
  }
  72% {
    cursor: url("./images/frames/53.gif"), auto;
  }
  74% {
    cursor: url("./images/frames/55.gif"), auto;
  }
  76% {
    cursor: url("./images/frames/56.gif"), auto;
  }
  78% {
    cursor: url("./images/frames/58.gif"), auto;
  }
  80% {
    cursor: url("./images/frames/59.gif"), auto;
  }
  82% {
    cursor: url("./images/frames/61.gif"), auto;
  }
  84% {
    cursor: url("./images/frames/62.gif"), auto;
  }
  86% {
    cursor: url("./images/frames/63.gif"), auto;
  }
  88% {
    cursor: url("./images/frames/64.gif"), auto;
  }
  90% {
    cursor: url("./images/frames/65.gif"), auto;
  }
  92% {
    cursor: url("./images/frames/66.gif"), auto;
  }
  94% {
    cursor: url("./images/frames/67.gif"), auto;
  }
  96% {
    cursor: url("./images/frames/67.gif"), auto;
  }
  98% {
    cursor: url("./images/frames/67.gif"), auto;
  }
  98% {
    cursor: url("./images/frames/67.gif"), auto;
  }
}

//footer 
.footer-wrapper {
  border-top: 1px solid $dark-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
  width: 100%;
  height: 200px;
  padding-bottom: 30px;
  margin-top: 50px;
  .footer-menu-wrapper{
    text-align: center;
  }
  .footer-menu-wrapper li{
    list-style-type: none;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .footer-menu-wrapper li:hover{
    transform: scale(1.05);
    color: $dark-color;
  }
  .social-media-icons{
    margin-right: 40px;
    padding-bottom: 60px;
    .fab{
      margin: 5px 20px 0 0;
      font-size: 25px;
      cursor: pointer;
    }
    .fab:hover{
      color: $third-color;
    }
  }
  .logo{
    width: 130px;
    height: 130px;
  }
  .header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.6);
  }
a {
  text-decoration: none;
}
.dynamic-txts li span::after {
  height: 100%;
  width: 100%;
  background: white;
}
}


.order-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .main-part{
    display: flex;
  }
.order{
  width: 600px;
  height: 400px;
  background: $second-color;
  .top{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    background: $dark-color;
    color: $second-color;
    font-weight: 400;
  }
}
.strong{
  font-weight: 300;
}
.first, .second{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
  padding: 5px;
}
// .second{
//   display: flex;
//   flex-direction: column;
// }
}

//Payment Gateway
.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
  display: flex;
  flex-direction: column;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
  display: flex;
  flex-direction: column;
  .InputContainer {
    display: block;
  }
}

.CardField-input-wrapper{
  display: flex;
  flex-direction: column;
}
#stripe-card-element{
  display: block;
  width: 100vw;
}

.payment{
  margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
  button {
    display: block;
    font-size: 16px;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    background-color: $third-color;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 $third-color;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    will-change: transform, background-color, box-shadow;
    border: none;
  }
  button:hover{
    cursor: pointer;
  }
  
  button:active {
    background-color: #d782d9;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
    transform: scale(0.99);
  }
}

h1,
h3 {
	text-align: center;
}

//RESPONSIVE DESIGN

@media only screen and (max-width: 800px) {
  .home-page .home-title{
    font-size: 28px;
    padding-top: 8px;
  }
  .dynamic-txts li{
    font-size: 25px;
  }
  .header .dynamic-txts {
    line-height: 70px;
    height: 70px;
  }
  .dynamic-txts li span::after {
    margin-top: 33px;
  }
  .flower-container{
    display: none;
  }
  .home-menu{
    // margin-top: 80px;
  }
  .home-menu ul{
    transform: scale(1.4);
  }
  .footer-wrapper{
  flex-direction: column;
  }
  .social-media-icons{
    padding: 30px 0;
    margin-right: 0px!important;
  }
  .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    .products-navbar{
      left: 5px;
      padding-top: 10px;
    }
    .products-navbar-item{
      font-size: 14px;
    }
    h3{
      font-size: 17px;
    }
    .small-item{
      font-size: 13px;
    }
    .gender-navbar-part-wrapper{
      justify-content: flex-start;
      margin-top: 20px;
    }
  }
  .logo{
    margin-top: 30px;
    width: 120px;
    height: 120px;
  }
  .basket-icon-wrapper{
    top: 12px;
    right: 15px;
    img {
    width: 28px;
    height: 28px;
    }
    .basket-number{
      top: 3px;
      right: 8px;
      font-size: 12px;
    }
  }
  .show-tip{
    transform: scale(0.8)!important;
  }
  .main-menu-button{
    transform: scale(0.8)!important;
  }
  .product-wrapper{
    transform: scale(0.8);
  }
  .single-product-section .product-color-wrapper, .single-product-section .product-size-wrapper {
    padding: 6px 12px;
    font-size: 15px;
  }
  .product-price{
    font-size: 27px!important;
  }
  .single-product-section h1{
    font-size: 22px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .product-discount{
    font-size: 17px!important;
  }
  .quantity-add-wrapper{
    flex-direction: column;
  }
  .quantity-bar{
    margin-bottom: 20px;
  }
  .single-product-image{
    width: 200px!important;
    height: 250px!important;
  }
  .product-size, .quantity-bar{
    font-size: 20px!important;
  }
  .single-product-images-wrapper{
    margin: 0 auto!important;
  }
  .name-price-wrapper{
    align-items: center!important;
  }
  .authorization-wrapper{
    font-size: 19px!important;
    .classic-btn{
      width: 160px;
      height: 40px;
      line-height: 40px;
    }
  }
  .register{
    h1{
    font-size: 20px;
  }
}
  .auth-btn-wrapper{
    position: static!important;
    align-self: center!important;
    margin-top: 30px;
  }
  .login-bttn-wrapper{
    flex-direction: column;
    .forgot{
      margin: 20px 0 30px 0;
    }
  }
  .basket-added-wrapper{
    height: 50vh!important;
    width: 100vw!important;
    right: 0%!important;
    margin-right: 0px!important;
    h1{
      font-size: 20px;
    }
    .basket-added-btn{
      font-size: 12px!important;
      padding: 5px 10px!important;
    }
  }
  .profile-page{
    flex-direction: column;
    align-items: center;
    .profile-icon{
      font-size: 15px;
      margin: 0 0 30px 0;
      .profile-icon-text{
        margin-bottom: 10px;
      }
      img{
        width: 60px;
        height: 60px;
      }
    }
  }
  .logout-wrapper{
    position: absolute;
    font-size: 32px;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
  }
  .forms-wrapper{
    align-items: center;
  }
  .edit-account-page, .edit-adress-page{

}
.basket-page{
  flex-direction: column;  
  align-items: center; 
.basket-container{
  h1{
    font-size: 12px;
  }
}
.basket-subtotal-remove{
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}
.basket-remove{
  align-self: flex-start;
}
.basket-remove{
  margin-bottom: 13px;
  font-size: 12px;
}
.basket-subtotal{
  margin-top: 13px;
  font-size: 15px;
    }
    select{
      font-size: 12px;
    }
.basket-image-title{
  flex-direction: column;
}
.color-size-price{
  flex-direction: column;
  font-size: 12px;
  width: 40px;
  .basket-price{
    font-size: 14px;
  }
}
.checkout-button-total-price{
  width: 70vw;
  font-size: 17px;
}
.checkout-button{
  font-size: 17px;
  width: 50vw;
}
.basket-item{
  // display: flex;
  justify-content: space-around;
}
.basket-image-title{
  text-align: center;
}
  }
  .shipping-page{
    flex-direction: column;
    h2{
      font-size: 19px;
    }
  }
  .shipping-option{
    font-size: 15px;
  }
  .shipping-description{
    font-size: 13px;
  }
  .shipping-radio{
    width: 100%;
  }
  .payment-page{
    input{
      // width: 100%;
    }
    h2{
      font-size: 19px;
    }
    .payment-option{
      width: 70vw;
    }
    .payment-radio{
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .basket-preview{
    transform: scale(0.8);
    width: 90vw;
  }
  .payment-radio{
    align-items: center;
  }
  .contact-page{
    textarea{
      width: 20em;
      height: 9em;
    }
  }
  .score-window{
    width: 100vw;
    height: 50vh;
    margin-bottom: 0px;
    margin-left: -53vw;
    bottom: 0%; 
    .classic-btn{
      font-size: 18px;
      width: 140px;
    }
    h2{
      font-size: 15px;
      padding: 0 30px;
    }
  }.discount-popup-wrapper{
    width: 80px;
    height: 80px;
  }
.checkout-form{
  width: 70vw;
  padding-right: 0px;
}
.image-checkout-wrapper{
  .image-checkout-name{
    width: 100%;
  }
}
.confirmation-page{
  .checkout-buttons{
    transform: scale(0.8);
    .left, .right{
      padding: 7px 15px;
    }
  }
  h2{
    font-size: 20px;
    width: 80vw;
  }
  h3{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .total-price-checkout-wrapper{
    flex-direction: column;
    padding: 0px;
    div {
      margin-top: 0px;
    }
    .order-confirmation-details{
      font-size: 14px;
      div {
        margin-top: 10px;
      }
    }

  }
  .order-items-container{
    border-bottom: 1px solid black;
  }
}
.products-page.categorized{
    margin-top: -30px;
}
.done-page{
  h1{
    font-size: 18px;
  }
}
.about-page{
  h1{
    font-size: 23px;
  }
  .form-wrapper{
    width: 87vw;
  }
}
.order-confirmation-details{
  margin-left: 0px;
}

}