@import "./dots-menu.scss";
@import "./variables.scss";
@import "./main-menu.scss";
@import "./flower.scss";
@import "./title-revealing.scss";
@import "./navbar.scss";

html, body{
  height: 100%;
}

body {
  font-family: $main-font;
  // overflow-x: hidden;
  color: $text-color;
  font-weight: 200;
}

.whole-page{
  min-height: 100vh;
}

input, textarea{
  padding: 5px 6px;
  margin-top: 4px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid $text-color;
}
input:focus, textarea:focus{
  outline: $second-color;
  border: 2px solid $second-color;
}

button{
  z-index: 3;
}

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    -webkit-overflow-scrolling: scroll!important;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
.classic-btn{
  border: 1px solid $dark-color;
  background: $dark-color;
  color: $second-color;
  border-radius: 17px;
  font-size: 22px;
  font-weight: 300;
  height: 45px;
  width: 190px;
  line-height: 45px;
  text-align: center;
  border: 2px solid $second-color;
  cursor: pointer;

  .loading-image{
    width: 44px;
    height: 44px;
  }
}
.loading-image-checkout{
  width: 30px;
  height: 30px;
}
.btn-loading{
  align-self: center;
}
.classic-btn:hover{
  transform: scale(1.04);
  color: $third-color;
}

* { margin: 0; padding: 0; }

//Home page
.home-page{
  .flip{
    transform: rotate(180deg);
  }
  .home-logo{
      width: 35px;
      height: 35px;
      background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1646061516/Nu%20Hippies/Backgrounds/IconOnly_Transparent_1_pox2bq.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }
  .change-image{
    background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1639597714/Nu%20Hippies/icons/logo-white_k6b7uh.png");
  }
  .home-title-wrapper{
    display: flex;
    justify-content: center;
    width: 100vw
  }
  .home-title{
    padding-top: 30px;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
  }
  .title-color{
    color: $dark-color;
  }
  // #left-video-two, #right-video-two{
  //   visibility: hidden;
  // }
  .home-right-banner{
    position: absolute;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    right: 0px;
    bottom: 0px;
    width: 400px;
    height: 400px;
    video{
      object-position: right;
    }
  }
  .home-left-banner{
    position: fixed;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    left: 0px;
    top: 0px;
    width: 400px;
    height: 400px;
    video{
      object-position: left;
    }
  }
  video{
    width: 100%;
    // max-width: 1200px;
    height: 100%;
    // max-height: 70vh;
    position: relative;
    object-fit: cover;
    z-index: -1;
  }
}

//Basket page
.basket-page{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .empty-basket{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    h1{
      margin-top: 30vh;
      font-size: 30px;
    }
  }
  .basket-container{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .basket-item-wrapper{
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-top: 1px solid $dark-color;
    border-bottom: 1px solid $dark-color;
    padding: 20px 0;
  }
  .basket-subtotal-remove{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  .basket-remove{
    cursor: pointer;
    color: $dark-color;
  }
  .basket-subtotal{
    font-size: 21px;
    font-weight: 300;
  }
  .basket-item{
    display: flex;
    justify-content: space-between;
    .basket-price{
      font-weight: 300;
      font-size: 18px;
    }
    img{
      width: 80px;
      height: 80px;
      margin-right: 30px;
    }
  }
  select{
    margin-left: 7px;
  }
  .checkout-button-total-price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid $dark-color;
    width: 20vw;
    height: 150px;
    margin-top: 30px;
    font-size: 22px;
    padding: 9px 9px 25px 9px;
  }
  .checkout-button-total-price div{
    margin-top: 10px;
  }
  .checkout-button{
    background: $dark-color;
    font-size: 20px;
    font-weight: 300;
    color: $second-color; 
    border-radius: 10px;
    border: 2px solid $second-color;
    text-align: center;
    width: 15vw;
    padding: 10px 19px;
    cursor: pointer;
  }
  .checkout-button:hover{
    transform: scale(1.03);
    color: $third-color;    
  }
  .total-price{
    text-align: center;
  }
  h1{
    font-size: 23px;
    font-weight: 300;
  }
  .basket-image-title{
    display: flex;
    max-width: 60%;
  }
  .color-size-price{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .number{
    width: 19px;
    text-align: center;
    resize: none;
    overflow: hidden;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

//Shipping page 
.shipping-page{
  display: flex;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
  h2{
    font-weight: 300;
  }
  .basket-preview{
    margin-bottom: -60px;
  }
}
.shipping-radio{
  width: 40%;
}
.shipping-option{
  border: 1px solid $dark-color;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.shipping-option-name-radio{
  display: flex;
  align-items: flex-start;
  input{
    margin-right: 10px;
    margin-top: 5px;
  }
}
.shipping-description{
  color: gray;
  font-size: 15px;
  margin-top: 5px;
}

.basket-preview{
  width: 30vw;
}

//Payment page
.payment-page{
  display: flex;
  padding: 1% 5% 5% 5%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  h2{
    font-weight: 300;
  }
  .payment-radio{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  input{
    margin: 0 8px 10px 0;
  }
  .payment-option{
    margin: 15px 0;
  }
  .paypal-icon{
    width: 80px;
    height: 80px;
    margin-bottom: -30px;
  }
}

//Checkout page
.checkout-page{
  display: flex;
  padding: 1% 5% 5% 5%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  h2{
    font-weight: 300;
  }
}
.total-price-checkout-wrapper{
  border: 1px solid $dark-color;
  padding: 16px 0;
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  .total-text{
    margin-bottom: 10px;
  }
  :nth-child(3){
    margin-bottom: 0px;
  }
}
.order-items-container{
  max-height: 230px;
  overflow-y: scroll;
}
.order-confirmation-details{
  margin-left: 40px;
}
.total-price-checkout-wrapper div{
  margin-top: 9px;
}
.size{
  padding-right: 20px;
}
.color{
  padding-right: 20px;
}
h2{
  padding-bottom: 10px;
}
  .shipping-preview-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .checkout-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    a{
      text-decoration: none;
      color: $text-color;
    }
    .right, .left{
      padding: 9px 38px;
      cursor: pointer;
      border-radius: 10px;
      font-weight: 300;
      font-size: 18px;
    }
    .right{
      border: 2px solid $second-color;
      color: $second-color;
      background: $dark-color;
      margin-left: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right:hover{
      transform: scale(1.02);
      color: $third-color;
    }
    .left{
      background: white;
      border: 1px solid $text-color;
      margin-right: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      display: flex;
    }
  }
  .forms-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .checkout-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-right: 20px;
    input{
      margin-bottom: 9px;
    }
  }
  
  .billing-radio{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 17px;
    input{
      margin: 0 10px 10px 0;
    }
  }
  .image-checkout-wrapper{
    margin-bottom: 15px;
    display: flex;
    .image-checkout-name{
      width: 60%;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .image-checkout-description{
      color: gray;
      font-size: 13px;
    }
    .image-checkout{
      width: 60px;
      height: 60px;
      border: 1px solid gray;
      border-radius: 5%;
      background-size: cover;
      margin-right: 7px;
    }
  }

  //Order Confirmation Page
  .confirmation-page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    h2{
      margin-bottom: 30px;
      text-align: center;
    }
    h3{
      text-align: center;
    }
    .classic-btn{
      margin-top: 30px;
    }
    .total-price-checkout-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }

//Authorization
.auth-page{

.auth-side{
  display: flex;
  flex-direction: column;
}
.auth-btn-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  bottom: 40px;
  right: 50px;
}
button{
  font-family: $main-font;
  font-weight: 300;
}
.auth-btn:hover{
  transform: scale(1.04);
  transition: 0.2s;
  color: $dark-color;
}
.authorization-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
}

.authorization-wrapper{
  font-size: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-side, .authorization-wrapper, .register{
  .classic-btn{
    margin-top: 10px;
  }
}

//Register
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    padding: 20px 30px 0px 30px;
    text-align: center;
  }
  form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  button{
    align-self: center;
  }
  input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
  }
  .register-input-top-wrapper,
  .register-input-bottom-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
  }
}
.error-message {
  top: 60px;
}
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.error-input {
  border: 2px red solid;
}

.error-message {
  color: red;
  position: absolute;
  top: 40px;
}

.login-bttn-wrapper{
  display: flex;
  align-items: center;
  .forgot{
    margin-top: 10px;
    margin-left: 60px;
    color: $dark-color;
    cursor: pointer;
  }
  a{
    text-decoration: none;
  }
  .forgot:hover{
    transform: scale(1.03);
  }
}

//Forgot page 
.forgot-page, .reset-page{
  display: flex;
  justify-content: center;
  align-items: center;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .classic-btn{
    margin-top: 10px;
  }
  h1{
    margin: 50px 0 100px 0;
  }
  button{
    font-family: $main-font;
  }
  input{
    margin: 6px 0;
  }
}

//Done page
.done-page{
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    text-align: center;
    padding: 0 20px;
  }
  .progress-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  progress {
    display:inline-block;
    width: 290px;
    height: 30px;
    margin-top: 50px;
    border-radius: 0px;
    text-align: left;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
  }
  progress::-webkit-progress-bar {
    height: 30px;
    width: 290px;
  }
  progress::-webkit-progress-value {
    display:inline-block;
    float: left;
    height: 30px;
    width: 290px;
    margin:0px -10px 0 0;
    background: $second-color;
  }
  // progress:after {
  //   margin:-26px 0 0 -7px;
  //   padding:0;
  //   display:inline-block;
  //   float:left;
  // }
}

//Products
.products-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
  .products-flower-wrapper{
    display: flex;
    justify-content: center;
  }
  .products-banner{
    margin-top: 50px;
    width: 100vw;
    height: 375px;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://www.wallpaperflare.com/static/588/476/869/psychedelic-colorful-lines-nature-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    img {
      width: 400px;
      height: 200px;
      position: absolute;
      left: -224px;
      margin-top: 50px;
      transition: 1s linear;
    }

  }
    video{
      width: 100%;
      // max-width: 1200px;
      height: 100%;
      // max-height: 70vh;
      position: relative;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }
    .shadow{
      width: 100%;
      height: 50vh;
      position: absolute;
      box-shadow: inset 0px 27px 127px -40px  rgba(250,203,82,1), 0px -42px 103px -27px rgba(250,203,82,1);
      ;
    }
    .shadow-scroll{
      box-shadow: inset 0px 27px 127px -40px  #52C1C7;
    }
  a{
    text-decoration: none;
    color: inherit;
  }
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-wrap: wrap;
  }
  .product-wrapper {
    margin: 20px;
  }
  .product-preview-image {
    width: 280px;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s linear;
  }
  .product-preview-name {
    width: 280px;
    max-height: 90px;
    overflow: hidden;
    padding: 3px 8px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }
  .product-preview-price-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  .product-preview-price{
    font-size: 30px;
    font-weight: 400;
  }
  .product-preview-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $second-color;
    padding: auto;
    width: 60px;
    height: 24px;
    font-size: 20px;
    font-weight: 300;
    color: $dark-color;
  }
}
}

//categorizied products
.products-page.categorized{
  flex-direction: column;
  align-items: center;
}
.cat-nav{
  display: flex;
  align-self: flex-start;
  margin: 0 0 50px 30px;
  // position: absolute;
  // left: 20px;
  // top: 80px;
  a{
    text-decoration: none;
    color: $dark-color;
    padding-right: 10px;
  }
  .sign{
    margin-right: 10px;
  }
  a:hover{
    color: $third-color;
  }
  .cat-nav-item:last-child{
      color: $dark-color;
  }
  .symbol{
    margin: 0 12px 0 5px;
  }
}

//Single Product
.single-product-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
.single-product-wrapper{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}
h1{
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}
.single-product-images-wrapper{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.single-product-image{
  width: 310px;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.side-images-container{
  max-height: 400px;
  margin-right: 15px;
}
.side-image{
  width: 50px;
  height: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid $dark-color;  
  margin-bottom: 5px;
  filter: brightness(0.6);
}
.name-price-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.single-product-name{
  width: 70%;
  margin-bottom: 30px;
}
.product-price-wrapper{
  display: flex;
  justify-content: left;
  align-items: center;
.product-price{
  font-size: 37px;
  font-weight: 400;
  margin-right: 30px;
}
.product-discount{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $second-color;
  padding: auto;
  width: 60px;
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 300;
}
}
.product-size-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 30px;
}
.product-size-wrapper{
  border: 1px solid $text-color;
  padding: 5px 20px;
  cursor: pointer;
  margin: 0 8px;
}
.product-size{
  margin: 13px 0 16px 0;
  font-size: 26px;
}
.chosen-size{
  background: $third-color; 
}
.chosen-side-image{
  border: 1px solid $third-color;
  filter: brightness(1);
}
.product-colors-container{
  display: flex;
  margin-top: 20px;
}
.product-color-wrapper{
  margin: 0 8px;
  border: 1px solid $text-color;
  padding: 10px 20px;
  cursor: pointer;
}
.chosen-color{
  background: $third-color;
}
.number{
  width: 47px;
  text-align: center;
  resize: none;
  overflow: hidden;
}
.sign{
  cursor: pointer;
}
.quantity-add-wrapper{
  display: flex;
  align-items: center;
  a{
    text-decoration: none;
  }
}
.quantity-bar{
  font-size: 26px;
  margin-right: 30px;
  select{
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
  }
  select:focus{
    outline: none;
  }
  label{
    margin-right: 7px;
  }
}
.product-description{
  width: 70vw;
  margin-top: 40px;
  line-height: 19px;
  h1{
    font-weight: 300;
    margin-bottom: 10px;
  }
}
.added-wrapper-hide{
  animation: .5s added-hide linear;
}
.basket-added-wrapper{
  width: 60vw;
  height: 70vh;
  border: 1px solid $dark-color;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0%;
  right: 50%;
  margin-right: -30vw;
  background: $third-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: .5s basket-added linear;
  color: $second-color;
  h1{
    color: $dark-color;
    font-weight: 600;
  }
  .basket-added-buttons{
    display: flex;
  }
  .basket-added-btn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 300;
    background: $dark-color;
    border: 2px solid $second-color;
    border-radius: 10px;
    color: $second-color;
    cursor: pointer;
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .basket-added-btn:hover{
    color: $third-color;
    transform: scale(1.04);
  }
  a {
    text-decoration: none;
    color: $second-color;
  }
}
}

@keyframes basket-added {
  0% { bottom: -100% ;}
  100% { bottom: 0%; }
}

@keyframes added-hide {
  0% { bottom: 0% ;}
  100% { bottom: -100%; }
}

//Profile
.profile-page{
  a{
    text-decoration: none;
    color: $dark-color;
  }
  display: flex;
  justify-content: center;
  .profile-icons-container{
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5%;
  }
  .profile-icon{
    display: flex;
    width: 300px;
    border: 1px solid lightgray;
    margin: 0 40px 40px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.8s;
    .profile-icon-text{
      margin-bottom: 20px;
      text-align: center;
    }
    .profile-icon-description{
      width: 100%;
    }
    .description{
      font-size: 13px;
      color: $gray-color;
      font-weight: 100;
      text-align: center;
    }
    img{
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }
  }
  .profile-icon:hover{
    box-shadow: $second-color 0px 30px 60px -12px inset, $second-color 0px 18px 36px -18px inset;
  }
}
.logout-wrapper{
  cursor: pointer;
  width: 64px;
  height: 64px;
  font-size: 45px;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 3;
}
.logout-wrapper:hover{
  color: $dark-color;
}
.account-nav{
  display: flex;
  align-self: flex-start;
  color: $dark-color;
  margin-left: 20px;
  .auth{
    cursor: pointer;
    color: $dark-color;
  }
  .auth:hover{
    color: $third-color;
  }
  a{
    text-decoration: none;
    color: $dark-color;
    margin-right: 10px;
  }
  a:hover{
    color: $third-color;
  }
  .sign{
    margin-right: 10px;
  }
  .sign-auth{
    margin-right: 3px;
  }
}

//About page
.about-page{
  display: flex;
  justify-content: center;
  align-items: center;
  .form-wrapper{
    width: 70vw;
    margin-top: 30px;
  }
  h1{
    text-align: center;
    margin-bottom: 20px;
  }
  p{
    font-size: 18px;
    line-height: 23px;
  }
}

// Contact page
.contact-page{
  width: 100vw;
  display: flex;
  justify-content: center;
  .form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  input, textarea{
    margin-bottom: 10px;
  }
  .sent-message-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px);
    h2{
      margin-top: -50px;
    }
    a{
      text-decoration: none;
    }
    .classic-btn{
      margin-top: 100px;
    }
  }
}

// Edit account page
.edit-account-page, .edit-adress-page{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .classic-btn{
    margin: 17px;
  }
  .edit-line-container{
    margin-top: 5vh;
  }
  .edit-line{
    font-size: 22px;
    margin-bottom: 12px;
  }
  .bold{
    font-weight: 400;
    margin-right: 15px;
  }
  form{
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: 300;
    min-width: 30vw;
  }
  input{
    font-size: 17px;
    font-weight: 200;
    font-family: $main-font;
  }
  button{
    font-family: $main-font;
  }
  label{
    margin-bottom: 3px;
    margin-top: 15px;
  }
  .edit-account-button{
    border: 1px solid $dark-color;
    background: $dark-color;
    color: $second-color;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 300;
    height: 45px;
    width: 190px;
    z-index: 3;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    align-self: center;
    margin-top: 15px;
  }
}

//edit adress
.edit-adress-page{
  .edit-line-container{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }
  .shipping-billing-edit{
    display: flex;
    flex-direction: column;
  }
  .billing-edit-container{
    margin-left: 70px;
  }
  .isBilling{
    margin-top: 40px;
  }
  h2{
    margin: 30px 0 10px 0;
  }
}

//Discount popup
.discount-page{
  display: flex;
  justify-content: center;
  h1{
    margin-top: 50px;
  }
}

.show-discount{
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  z-index: 8;
  cursor: url('./images/frames/1.gif'), auto;
}

.discount-popup-wrapper{
  // background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1639599163/Nu%20Hippies/icons/nazi_osdpkq.png");
  // background-size: contain;
  // width: 200px;
  // height: 200px;
  position: absolute;
  transition: 0.3s;
  top: -400px;
  left: -400px;
  visibility: hidden;
  display: block;
}

.discount-popup-img{
  background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1639599163/Nu%20Hippies/icons/nazi_osdpkq.png");
  background-size: contain;
  width: 200px;
  height: 200px;
}

.discount-stars{
  width: 140px;
  height: 140px;
  position: relative;
  left: 75px;
  top: 70px;
}

.discount-plus{
  animation: discount-plus-size 1110ms linear;
  font-size: 50px;
  font-weight: 500;
  color: $second-color;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

@keyframes discount-plus-size{
  0% { transform: scale(1.4) ;}
  20% { transform: scale(2.2) ;}
  40% { transform: scale(3) ;}
  60% { transform: scale(2.2) ;}
  80% { transform: scale(1.4) ;}
  100% { transform: scale(1) ;}
}

.score-window{
  position: fixed;
  width: 500px;
  height: 500px;
  margin-bottom: -260px;
  margin-left: -260px;
  bottom: 50%;
  left: 50%;
  background: $second-color;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 8;
  h2{
    font-weight: 400;
  }
  .highlighted{
    color: $dark-color;
  }
.classic-btn{
  margin-top: 40px;
}
}


@keyframes cursor {
  0% {
    cursor: url("./images/frames/1.gif"), auto;
  }
  2% {
    cursor: url("./images/frames/2.gif"), auto;
  }
  4% {
    cursor: url("./images/frames/4.gif"), auto;
  }
  6% {
    cursor: url("./images/frames/5.gif"), auto;
  }
  8% {
    cursor: url("./images/frames/7.gif"), auto;
  }
  10% {
    cursor: url("./images/frames/8.gif"), auto;
  }
  12% {
    cursor: url("./images/frames/10.gif"), auto;
  }
  14% {
    cursor: url("./images/frames/11.gif"), auto;
  }
  16% {
    cursor: url("./images/frames/13.gif"), auto;
  }
  18% {
    cursor: url("./images/frames/14.gif"), auto;
  }
  20% {
    cursor: url("./images/frames/16.gif"), auto;
  }
  22% {
    cursor: url("./images/frames/17.gif"), auto;
  }
  24% {
    cursor: url("./images/frames/19.gif"), auto;
  }
  26% {
    cursor: url("./images/frames/20.gif"), auto;
  }
  28% {
    cursor: url("./images/frames/22.gif"), auto;
  }
  30% {
    cursor: url("./images/frames/23.gif"), auto;
  }
  32% {
    cursor: url("./images/frames/25.gif"), auto;
  }
  34% {
    cursor: url("./images/frames/26.gif"), auto;
  }
  36% {
    cursor: url("./images/frames/28.gif"), auto;
  }
  38% {
    cursor: url("./images/frames/29.gif"), auto;
  }
  40% {
    cursor: url("./images/frames/31.gif"), auto;
  }
  42% {
    cursor: url("./images/frames/32.gif"), auto;
  }
  46% {
    cursor: url("./images/frames/34.gif"), auto;
  }
  48% {
    cursor: url("./images/frames/35.gif"), auto;
  }
  50% {
    cursor: url("./images/frames/37.gif"), auto;
  }
  52% {
    cursor: url("./images/frames/38.gif"), auto;
  }
  54% {
    cursor: url("./images/frames/40.gif"), auto;
  }
  56% {
    cursor: url("./images/frames/41.gif"), auto;
  }
  58% {
    cursor: url("./images/frames/43.gif"), auto;
  }
  60% {
    cursor: url("./images/frames/44.gif"), auto;
  }
  62% {
    cursor: url("./images/frames/46.gif"), auto;
  }
  64% {
    cursor: url("./images/frames/47.gif"), auto;
  }
  66% {
    cursor: url("./images/frames/49.gif"), auto;
  }
  68% {
    cursor: url("./images/frames/50.gif"), auto;
  }
  70% {
    cursor: url("./images/frames/52.gif"), auto;
  }
  72% {
    cursor: url("./images/frames/53.gif"), auto;
  }
  74% {
    cursor: url("./images/frames/55.gif"), auto;
  }
  76% {
    cursor: url("./images/frames/56.gif"), auto;
  }
  78% {
    cursor: url("./images/frames/58.gif"), auto;
  }
  80% {
    cursor: url("./images/frames/59.gif"), auto;
  }
  82% {
    cursor: url("./images/frames/61.gif"), auto;
  }
  84% {
    cursor: url("./images/frames/62.gif"), auto;
  }
  86% {
    cursor: url("./images/frames/63.gif"), auto;
  }
  88% {
    cursor: url("./images/frames/64.gif"), auto;
  }
  90% {
    cursor: url("./images/frames/65.gif"), auto;
  }
  92% {
    cursor: url("./images/frames/66.gif"), auto;
  }
  94% {
    cursor: url("./images/frames/67.gif"), auto;
  }
  96% {
    cursor: url("./images/frames/67.gif"), auto;
  }
  98% {
    cursor: url("./images/frames/67.gif"), auto;
  }
  98% {
    cursor: url("./images/frames/67.gif"), auto;
  }
}

.footer-border-img{
  position: relative;
  top: 4px;
  width: 100%;
  height: 1px;
}

//footer 
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
  width: 100%;
  height: 200px;
  padding-bottom: 30px;
  z-index: 3;
  .footer-background{
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 1;
  }
  a {
    color: $text-color;
  }
  .footer-menu-wrapper{
    text-align: center;
    z-index: 2;
  }
  .footer-menu-wrapper li{
    list-style-type: none;
    line-height: 25px;
    cursor: pointer;
  }
  .footer-menu-wrapper li:hover{
    transform: scale(1.05);
    color: $dark-color;
  }
  .social-media-icons{
    margin-right: 40px;
    padding-bottom: 60px;
    z-index: 2;
    .fab{
      margin: 5px 20px;
      font-size: 25px;
      cursor: pointer;
    }
    .fab:hover{
      color: $third-color;
    }
  }
  .logo{
    width: 130px;
    height: 130px;
    position: relative;
    margin-bottom: -20px;
  }
  .header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.6);
  z-index: 2;
  }
a {
  text-decoration: none;
}
.dynamic-txts li span::after {
  height: 100%;
  width: 100%;
  background: white;
}
.dynamic-txts{
  margin-right: 40px;
}
}

// Privacy
.privacy-page{
  display: flex;
  justify-content: center;
  td {
    padding: 0 7px 0 4px;
    align-items: center;
  }
}

//
.terms-page{
  display: flex;
  justify-content: center;
}

.order-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .main-part{
    display: flex;
  }
.order{
  width: 600px;
  height: 400px;
  background: $second-color;
  .top{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    background: $dark-color;
    color: $second-color;
    font-weight: 400;
  }
}
.strong{
  font-weight: 300;
}
.first, .second{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
  padding: 5px;
}
}

@import "./responsiveness.scss";

