
$main-font: 'Gluten', cursive;
$logo-font: "Galindo", cursive;
// $dark-color: #FF1510;
// $second-color: rgb(250,203,82);
// $third-color: rgb(82,193,199);
// $dark-color: rgb(82,193,199);
$gray-color: #747474;
$navbar-height: 150px;

$main-background-color: #FEFEF3;
$dark-color: #604ba0;
$alternative-dark-color:rgb(80,29,89);
$second-color: #FACB52;
$third-color: #52C1C7;
$fourth-color: #FF1510;
$text-color: #474747;