/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 18, ../sass/screen.scss */
/* line 16, ../sass/screen.scss */
.home-menu {
  font-family: 'Gluten', cursive;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
}

/* line 29, ../sass/screen.scss */
/* line 26, ../sass/screen.scss */
.home-menu .home-menu-button-text {
  font-size: 7px;
  color: #501d59;
  font-weight: 400;
}

/* line 31, ../sass/screen.scss */
.home-menu-button-text {
  margin-top: -4px;
}

/* line 34, ../sass/screen.scss */
/* line 35, ../sass/screen.scss */
.home-menu a {
  text-decoration: none;
}

/* line 37, ../sass/screen.scss */
/* line 39, ../sass/screen.scss */
.home-menu ul {
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -moz-transition: ease-out 0.3s all;
  -o-transition: ease-out 0.3s all;
  -webkit-transition: ease-out 0.3s all;
  transition: ease-out 0.3s all;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  transform: scale(1.8);
}

/* line 50, ../sass/screen.scss */
/* line 58, ../sass/screen.scss */
.home-menu ul li {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform-origin: 100% 100%;
  overflow: hidden;
  display: none;
}


/* line 57, ../sass/screen.scss */
/* line 67, ../sass/screen.scss */
.home-menu ul li a {
  color: #FFE400;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  background: #52c1c7;
  font-size: 25px;
}

/* line 68, ../sass/screen.scss */
/* line 78, ../sass/screen.scss */
.home-menu ul li:nth-child(odd) a {
  background: #501d59;
}

/* line 75, ../sass/screen.scss */
/* line 82, ../sass/screen.scss */
.home-menu ul li:nth-child(1) {
  display: block;
  -moz-transform: rotate(60deg) skew(30deg);
  -ms-transform: rotate(60deg) skew(30deg);
  -webkit-transform: rotate(60deg) skew(30deg);
  transform: rotate(60deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 90, ../sass/screen.scss */
.home-menu ul li:nth-child(1) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 98, ../sass/screen.scss */
.home-menu ul li:nth-child(1) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 103, ../sass/screen.scss */
.home-menu ul li:nth-child(2) {
  display: block;
  -moz-transform: rotate(120deg) skew(30deg);
  -ms-transform: rotate(120deg) skew(30deg);
  -webkit-transform: rotate(120deg) skew(30deg);
  transform: rotate(120deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 111, ../sass/screen.scss */
.home-menu ul li:nth-child(2) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 119, ../sass/screen.scss */
.home-menu ul li:nth-child(2) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 124, ../sass/screen.scss */
.home-menu ul li:nth-child(3) {
  display: block;
  -moz-transform: rotate(180deg) skew(30deg);
  -ms-transform: rotate(180deg) skew(30deg);
  -webkit-transform: rotate(180deg) skew(30deg);
  transform: rotate(180deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 132, ../sass/screen.scss */
.home-menu ul li:nth-child(3) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 140, ../sass/screen.scss */
.home-menu ul li:nth-child(3) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 145, ../sass/screen.scss */
.home-menu ul li:nth-child(4) {
  display: block;
  -moz-transform: rotate(240deg) skew(30deg);
  -ms-transform: rotate(240deg) skew(30deg);
  -webkit-transform: rotate(240deg) skew(30deg);
  transform: rotate(240deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 153, ../sass/screen.scss */
.home-menu ul li:nth-child(4) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 161, ../sass/screen.scss */
.home-menu ul li:nth-child(4) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 166, ../sass/screen.scss */
.home-menu ul li:nth-child(5) {
  display: block;
  -moz-transform: rotate(300deg) skew(30deg);
  -ms-transform: rotate(300deg) skew(30deg);
  -webkit-transform: rotate(300deg) skew(30deg);
  transform: rotate(300deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 174, ../sass/screen.scss */
.home-menu ul li:nth-child(5) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 182, ../sass/screen.scss */
.home-menu ul li:nth-child(5) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 187, ../sass/screen.scss */
.home-menu ul li:nth-child(6) {
  display: block;
  -moz-transform: rotate(360deg) skew(30deg);
  -ms-transform: rotate(360deg) skew(30deg);
  -webkit-transform: rotate(360deg) skew(30deg);
  transform: rotate(360deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 195, ../sass/screen.scss */
.home-menu ul li:nth-child(6) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 203, ../sass/screen.scss */
.home-menu ul li:nth-child(6) a:hover {
  background: #FF1510;
  color: white;
}

/* line 91, ../sass/screen.scss */
/* line 208, ../sass/screen.scss */
.home-menu ul li.close {
  width: 50px;
  height: 50px;
  background: url("https://res.cloudinary.com/nuhippies/image/upload/v1640145838/Nu%20Hippies/Backgrounds/hippie-van2_dytv6s.jpg") white;
  background-position: 0 0;
  background-size: cover;
  animation: moving 10s linear infinite;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  display: block;
  -moz-transform: scale(4.1);
  -ms-transform: scale(4.1);
  -webkit-transform: scale(4.1);
  transform: scale(4.1);
  -moz-transition: ease-in-out 0.3s all;
  -o-transition: ease-in-out 0.3s all;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
  transform-origin: 50% 50%;
  display: flex;
}

/* line 107, ../sass/screen.scss */
/* line 232, ../sass/screen.scss */
.home-menu ul li.close .fas {
  position: absolute;
  left: 13%;
  top: 17%;
}

/* line 113, ../sass/screen.scss */
/* line 238, ../sass/screen.scss */
.home-menu ul li.close a {
  background: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 45px;
}

/* line 123, ../sass/screen.scss */
/* line 246, ../sass/screen.scss */
.home-menu ul.active {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  
}

/* line 125, ../sass/screen.scss */
/* line 253, ../sass/screen.scss */
.home-menu ul.active .close {
  -moz-transform: rotate(0deg) scale(2);
  -ms-transform: rotate(0deg) scale(2);
  -webkit-transform: rotate(0deg) scale(2);
  transform: rotate(0deg) scale(2);
  background: white;
}

@keyframes moving {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
