/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 18, ../sass/screen.scss */
/* line 14, ../sass/screen.scss */
.home-menu {
  font-family: 'Gluten', cursive;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  height: 300px;
  margin-top: 0px;
  top: 50%;
  z-index: 5;
  transform: scale(1.6);
}

/* line 26, ../sass/screen.scss */
.home-logo {
  width: 35px;
  height: 35px;
  background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1646061516/Nu%20Hippies/Backgrounds/IconOnly_Transparent_1_pox2bq.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* line 34, ../sass/screen.scss */
.change-image {
  background-image: url("https://res.cloudinary.com/nuhippies/image/upload/v1639597714/Nu%20Hippies/icons/logo-white_k6b7uh.png");
}

/* line 37, ../sass/screen.scss */
.home-right-banner {
  position: absolute;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  right: 0px;
  bottom: 0px;
  width: 400px;
  height: 400px;
}
/* line 44, ../sass/screen.scss */
.home-right-banner img {
  object-position: center;
}

/* line 48, ../sass/screen.scss */
.home-left-banner {
  position: fixed;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  left: 0px;
  top: 0px;
  width: 400px;
  height: 400px;
}
/* line 55, ../sass/screen.scss */
.home-left-banner img {
  object-position: left;
}

/* line 29, ../sass/screen.scss */
/* line 61, ../sass/screen.scss */
.home-menu .home-menu-button-text {
  font-size: 7px;
  color: #6a4ba0;
  font-weight: 400;
}

/* line 66, ../sass/screen.scss */
.home-menu-button-text {
  margin-top: -4px;
}

/* line 34, ../sass/screen.scss */
/* line 70, ../sass/screen.scss */
.home-menu a {
  text-decoration: none;
}

/* line 37, ../sass/screen.scss */
/* line 74, ../sass/screen.scss */
.home-menu ul {
  -moz-transition: ease-out 0.3s all;
  -o-transition: ease-out 0.3s all;
  -webkit-transition: ease-out 0.3s all;
  transition: ease-out 0.3s all;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  animation: spring 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform: scale(1.8);
}

/* line 50, ../sass/screen.scss */
/* line 96, ../sass/screen.scss */
.home-menu ul li {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform-origin: 100% 100%;
  overflow: hidden;
  display: none;
}

/* line 57, ../sass/screen.scss */
/* line 105, ../sass/screen.scss */
.home-menu ul li a {
  color: #facb52;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  background: #52c1c7;
  font-size: 25px;
}

/* line 68, ../sass/screen.scss */
/* line 116, ../sass/screen.scss */
.home-menu ul li:nth-child(odd) a {
  background: #6a4ba0;
}

/* line 75, ../sass/screen.scss */
/* line 120, ../sass/screen.scss */
.home-menu ul li:nth-child(1) {
  display: block;
  -moz-transform: rotate(60deg) skew(30deg);
  -ms-transform: rotate(60deg) skew(30deg);
  -webkit-transform: rotate(60deg) skew(30deg);
  transform: rotate(60deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 128, ../sass/screen.scss */
.home-menu ul li:nth-child(1) a {
  line-height: 54px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 136, ../sass/screen.scss */
.home-menu ul li:nth-child(1) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 141, ../sass/screen.scss */
.home-menu ul li:nth-child(2) {
  display: block;
  -moz-transform: rotate(120deg) skew(30deg);
  -ms-transform: rotate(120deg) skew(30deg);
  -webkit-transform: rotate(120deg) skew(30deg);
  transform: rotate(120deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 149, ../sass/screen.scss */
.home-menu ul li:nth-child(2) a {
  line-height: 54px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 157, ../sass/screen.scss */
.home-menu ul li:nth-child(2) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 162, ../sass/screen.scss */
.home-menu ul li:nth-child(3) {
  display: block;
  -moz-transform: rotate(180deg) skew(30deg);
  -ms-transform: rotate(180deg) skew(30deg);
  -webkit-transform: rotate(180deg) skew(30deg);
  transform: rotate(180deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 170, ../sass/screen.scss */
.home-menu ul li:nth-child(3) a {
  line-height: 54px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 178, ../sass/screen.scss */
.home-menu ul li:nth-child(3) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 183, ../sass/screen.scss */
.home-menu ul li:nth-child(4) {
  display: block;
  -moz-transform: rotate(240deg) skew(30deg);
  -ms-transform: rotate(240deg) skew(30deg);
  -webkit-transform: rotate(240deg) skew(30deg);
  transform: rotate(240deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 191, ../sass/screen.scss */
.home-menu ul li:nth-child(4) a {
  line-height: 54px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 199, ../sass/screen.scss */
.home-menu ul li:nth-child(4) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 204, ../sass/screen.scss */
.home-menu ul li:nth-child(5) {
  display: block;
  -moz-transform: rotate(300deg) skew(30deg);
  -ms-transform: rotate(300deg) skew(30deg);
  -webkit-transform: rotate(300deg) skew(30deg);
  transform: rotate(300deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 212, ../sass/screen.scss */
.home-menu ul li:nth-child(5) a {
  line-height: 54px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 220, ../sass/screen.scss */
.home-menu ul li:nth-child(5) a:hover {
  background: #FF1510;
  color: white;
}

/* line 75, ../sass/screen.scss */
/* line 225, ../sass/screen.scss */
.home-menu ul li:nth-child(6) {
  display: block;
  -moz-transform: rotate(360deg) skew(30deg);
  -ms-transform: rotate(360deg) skew(30deg);
  -webkit-transform: rotate(360deg) skew(30deg);
  transform: rotate(360deg) skew(30deg);
}

/* line 79, ../sass/screen.scss */
/* line 233, ../sass/screen.scss */
.home-menu ul li:nth-child(6) a {
  line-height: 54px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}

/* line 83, ../sass/screen.scss */
/* line 241, ../sass/screen.scss */
.home-menu ul li:nth-child(6) a:hover {
  background: #FF1510;
  color: white;
}

/* line 91, ../sass/screen.scss */
/* line 246, ../sass/screen.scss */
.home-menu ul li.close {
  width: 50px;
  height: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/nuhippies/image/upload/v1639872055/Nu%20Hippies/icons/hippie-van_ygn0gp.jpg");
  background-position: 0 0;
  background-size: cover;
  animation: moving 10s linear infinite;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  display: block;
  -moz-transform: scale(4.1);
  -ms-transform: scale(4.1);
  -webkit-transform: scale(4.1);
  transform: scale(4.1);
  -moz-transition: ease-in-out 0.3s all;
  -o-transition: ease-in-out 0.3s all;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
  transform-origin: 50% 50%;
  display: flex;
}

/* line 107, ../sass/screen.scss */
/* line 270, ../sass/screen.scss */
.home-menu ul li.close .fas {
  position: absolute;
  left: 13%;
  top: 17%;
}

/* line 113, ../sass/screen.scss */
/* line 276, ../sass/screen.scss */
.home-menu ul li.close a {
  background: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 45px;
}

/* line 123, ../sass/screen.scss */
/* line 284, ../sass/screen.scss */
.home-menu ul.active {
  margin-top: -30px;
  transform: scale(1);
  animation: none;
}

/* line 125, ../sass/screen.scss */
/* line 290, ../sass/screen.scss */
.home-menu ul.active .close {
  -moz-transform: rotate(0deg) scale(2);
  -ms-transform: rotate(0deg) scale(2);
  -webkit-transform: rotate(0deg) scale(2);
  transform: rotate(0deg) scale(2);
  background: white;
}

@keyframes moving {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes spring {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.6);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
