/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/css3";

// can touch this!
$items: 6;
$size: 100;
$bgcolor: #F6717F;

// can't touch this!
$deg: 360/$items;
$unrotate: - (90 - $deg)/2;
$skew: 90 - $deg;

.home-menu{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;

  .home-menu-button-text{
    font-size: 7px;
    color: #F6717F;
  }

  a{
    text-decoration: none;
  }

ul {
  @include transform(scale(0.2));
  @include transition(.3s ease-out all);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: #{$size*2}px;
  height: #{$size*2}px;
  transform: scale(1.8);

  
  li {
    position: absolute;
    width: #{$size}px;height: #{$size}px;
    -webkit-transform-origin: 100% 100%;
    overflow: hidden;
    display: none;
    
    a {
      color: yellow;
      display: block;
      width: #{$size*2}px;height: #{$size*2}px;
      border-radius:50%;
      text-align: center;
      background: $bgcolor;
      font-size: 25px;
    }
    
    &:nth-child(odd){
        a {
          background: lighten($bgcolor, 2%);
        }
    }

    
    @for $i from 1 through $items {
      &:nth-child(#{$i}) {
        display: block;
        @include transform(rotate(#{$i*$deg}deg) skew(#{$skew}deg));

        a {
          line-height: #{$size/2}px;
          @include transform(skew(#{-$skew}deg) rotate(-#{$deg}deg));

          &:hover {
            background: darken($bgcolor, 5%);
            color: white;
          }
        }
      }
    }

    &.close {
      width: 50px;
      height: 50px;
      background: url("https://static5.depositphotos.com/1032903/410/v/950/depositphotos_4104560-stock-illustration-vector-seamless-texture-60s.jpg");
      background-position: 0 0;
      background-size: cover;
      animation: moving 10s linear infinite;
      border-radius: 50%;
      position: absolute;
      left: calc(50% - 25px);
      top: calc(50% - 25px);
      display: block;
      @include transform(scale(4.1) rotate(23deg));
      @include transition(.3s ease-in-out all);
      transform-origin: 50% 50%;
      
      a {
        background: none;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 45px;
      }
    }
  }

  &.active {
    @include transform(scale(1.5));
    .close {
      @include transform(rotate(0deg) scale(2));
      background: white;
    }
  }
}
}

@keyframes moving {
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 100% 0;
  }
  100%{
    background-position: 0 0;
  }
}